<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<title>Garant Servis</title>
	</head>
	<body>
		<div class="popup-feedback call-me">
			<div class="popup-img">
				<div class="popup-shadow">
					<div class="popup-feed">
						<h4>Заполните правильно поля и мы в течении часа Вам перезвоним!</h4>
						<p class="mess1"></p>
						<input class="name-inp" type="text" placeholder="Ваше имя">
						<p class="mess2"></p>
						<input class="phone-inp" type="text" placeholder="Ваш телефон">
						<p class="mess3"></p>
						<button class="gradient shadow-button but-js">Отправить</button>
						<div class="close"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="popup-feedback action-event">
			<div class="popup-img">
				<div class="popup-shadow">
					<div class="popup-feed">
						<h4>Заполните правильно поля и мы в течении часа Вам перезвоним!</h4>
						<p class="mess1"></p>
						<input class="name-inp" type="text" placeholder="Ваше имя">
						<p class="mess2"></p>
						<input class="phone-inp" type="text" placeholder="Ваш телефон">
						<p class="mess4"></p>
						<input class="city-inp" type="text" placeholder="Ваш город">
						<input class="model-inp" type="text" placeholder="Модель ноутбука">
						<p class="mess3"></p>
						<button class="gradient shadow-button but-js-order">Отправить</button>
						<div class="close"></div>
					</div>
				</div>
			</div>
		</div>
		<header id="header">
			<div class="head-wrap">
				<div>
					<a href="http://garant-service.in.ua/">
						<img src="images/garant-logo.jpg" alt="logo">
					</a>
				</div>
				<div>
					<h2>Ремонт и диагностика ноутбуков</h2>
					<p>Работаем по Днепру и Украине!</p>
				</div>
				<div>
					<h3><a href="tel:+380938226786">+8 (093) 822-67-86</a></h3>
					<button class="gradient shadow-button call-mod">Заказать обратный звонок</button>
				</div>
			</div>
		</header>
		<div class="stock-feedback">
			<div class="stock-shadow">
				<div class="stock-wrap">
					<h1>Ремонт Вашего ноутбука за 48 часов</h1>
					<p>или</p>
					<h2>бесплатная диагностика за 15 минут в нашем Сервисном Центре</h2>
					<div class="stock-info">
						<div class="message-stock">
							<p class="mess-stock">Закажи бесплатную диагностику<br><b> прямо сейчас!</b></p>
							<p class="mess1"></p>
							<input  class="name-inp" type="text" placeholder="Ваше имя">
							<p class="mess2"></p>
							<input  class="phone-inp" type="text" placeholder="Ваш телефон">
							<p class="mess3"></p>
							<button class="gradient shadow-button but-js">Заказать</button>
						</div>
						<div class="stock-time-wrap">
							<p>При ремонте ноутбука антивирус DrWeb<b> В ПОДАРОК!</b></p>
							<img class="drweb" src="images/drweb.png" alt="drweb">
							<p>До конца акции осталось</p>
							<div id="clock">
								<!-- time -->
							</div>
							<button class="gradient shadow-button call-action">Заказать по акции</button>
							<img src="images/arr-orange.png" alt="arrow">
						</div>
					</div>
				</div>
			</div>
		</div>
		<main id="main">
			<div class="main-wrap">
				<hr>
				<div class="white-wrap-1"><h1>Наши услуги</h1></div>
				<p>Осуществляем ремонт и обслуживание любой сложности</p>
				<div class="services-gallery">
					<div>
						<img src="images/gall_1.jpg" alt="services">
						<p>Компьютеров</p>
					</div>
					<div>
						<img src="images/gall_2.jpg" alt="services">
						<p>Ноутбуков</p>
					</div>
					<div>
						<img src="images/monik.jpg" alt="services">
						<p>Мониторов</p>
					</div>
					<div>
						<img src="images/gall_4.jpg" alt="services">
						<p>Планшетов</p>
					</div>
					<div>
						<img src="images/gall_5.jpg" alt="services">
						<p>Смартфонов</p>
					</div>
					<div>
						<img src="images/gall_6.jpg" alt="services">
						<p>Оргтехники</p>
					</div>
					<div>
						<img src="images/gall_7.jpg" alt="services">
						<p>Электронных книг</p>
					</div>
					<div>
						<img src="images/acoustic.jpeg" alt="services">
						<p>Акустики</p>
					</div>
					<div>
						<img src="images/gall_3.jpg" alt="services">
						<p>Моноблоков</p>
					</div>
					<div>
						<img src="images/stab.jpg" alt="services">
						<p>Стабилизаторов</p>
					</div>
					<div>
						<img src="images/apple.jpg" alt="services">
						<p>Техники Apple</p>
					</div>
					<div>
						<img src="images/tv.png" alt="services">
						<p>Телевизоров</p>
					</div>
					<div id="other">и ремонт другой техники</div>
				</div>
				<hr>
				<div class="white-wrap-2"><h1>Наши преимущества</h1></div>
				<div class="advantages">
					<div class="adv-item">
						<div>
							<img src="images/adv_1.png" alt="advantage">
						</div>
						<div>
							<h2>Качественный и быстрый ремонт техники</h2>
							<p>Обратившись в наш сервис, Вы получите быструю и профессиональную диагностику неисправности, а также качественный ремонт устройства.</p>
						</div>
					</div>
					<div class="adv-item">
						<div>
							<img src="images/adv_2.png" alt="advantage">
						</div>
						<div>
							<h2>Бесплатная диагностика</h2>
							<p>Оформив заявку на бесплатную диагностику на этой странице, Вы гарантированно получаете бесплатную диагностику Вашего устройства при личном посещении нашего сервисного центра в Днепре.
							Для ноутбуков  - бесплатная первичная диагностика в течение 15 минут.</p>
						</div>
					</div>
					<div class="adv-item">
						<div>
							<img src="images/adv_3.png" alt="advantage">
						</div>
						<div>
							<h2>Только опытные специалисты</h2>
							<p>Можете быть уверены, что с Вашим устройством будут работать настоящие профессионалы, которые имеют огромный опыт в сфере ремонта электроники! Опыт работы
							в ремонте ноутбуков более 10 лет!</p>
							
						</div>
					</div>
					<div class="adv-item">
						<div>
							<img src="images/adv_4.png" alt="advantage">
						</div>
						<div>
							<h2>Доступные цены</h2>
							<p>Ваш заказ будет выполнен в максимально короткие сроки и вы получите отличное качество по доступной цене. Корпоративным и оптовым клиентам спеццены!</p>
						</div>
					</div>
					<div class="adv-item">
						<div>
							<img src="images/adv_5.png" alt="advantage">
						</div>
						<div>
							<h2>Экономия вашего времени</h2>
							<p>В среднем ремонт ноутбука занимает у нас до 48 часов после поступления его в сервисный центр! Это достигается, благодаря накопленному огромному опыту в ремонте ноутбуков, отработанной логистике по поставке запчастей, а также наличию на складе более 3000 наименований запчастей на ноутбуки.<p>
						</div>
					</div>
					<div class="adv-item">
						<div>
							<img src="images/info.png" alt="advantage">
						</div>
						<div>
							<h2>Информирование о ходе ремонта</h2>
							<p>Информируем клиента о готовности изделия. При необходимости перезваниваем и согласовываем цену до ремонта.<p>
						</div>
					</div>
					<div class="adv-item">
						<div>
							<img src="images/work.png" alt="advantage">
						</div>
						<div>
							<h2>Работаем по всей Украине</h2>
							<p>Если в Вашем городе нет адекватных сервисных центров,  можете отправить нам Ваше устройство курьерской службой "Новая Почта", "Ин-тайм", "Деливери". Для иногородних клиентов существует повышенный приоритет срочности. Сохранность комплектации устройства гарантируется. Расчет за ремонт по факту получения изделия.<p>
						</div>
					</div>
					<div class="adv-item">
						<div>
							<img src="images/pay.png" alt="advantage">
						</div>
						<div>
							<h2>Удобная оплата</h2>
							<p>Можно оплачивать как за наличный, так и за безналичный расчет, также доступны "мгновенная рассрочка" и "оплата частями" от ПриватБанка.<p>
						</div>
					</div>
				</div>
				<hr>
				<div class="white-wrap-4"><h1>Обмен</h1></div>
				<p class="change-p">1. Не устраивает цена ремонта? </p>
				<p class="change-p">2. Не хотите ремонтировать ноутбук?</p>
				<p class="change-p">3. Хотите рабочий ноутбук за 5 минут?</p>
				<h4 class="change-h4">В наличии более 100 б/у ноутбуков - отдавайте нам старый на запчасти <br>и выбирайте себе рабочий</h4>
				<img class="br-laptop" src="images/broken_laptop.png" alt="laptop">
				<img class="arr-laptop" src="images/arr-right.png" alt="arrow">
				<img class="arr-laptop-down" src="images/arr-down.png" alt="arrow">
				<img class="laptop" src="images/laptop.png" alt="laptop">
			</div>
			<div class="main-feedback">
				<span>
					<img src="images/girl.png" alt="woomen">
					<div class="feedback-mess-main">
						<h4>Интересуют подробности?</h4>
						<p class="mess1"></p>
						<input class="name-inp" type="text" placeholder="Ваше имя">
						<p class="mess2"></p>
						<input class="phone-inp" type="text" placeholder="Ваш телефон">
						<button class="gradient shadow-button but-js">Отправить</button>
						<p class="mess3"></p>
					</div>
				</span>
			</div>
			<div class="main-wrap">
				<hr>
				<div class="white-wrap-3"><h1>Отзывы клиентов</h1></div>
				<div class="clients-feedback">
					<div class="left-section">
						<div class="client-comment">
							<img src="images/13.jpg" alt="clent-foto">
							<div>
								<p>Обратилась в Гарант Сервис, так как перегревался ноутбук. Специалисты сказали, что причина в том, что он забился пылью. И точно: как только почистили его внутри, он сразу стал нормально работать. Спасибо за своевременную помощь и грамотно выполненную работу</p>
								<p>Александра г.Днепр</p>
							</div>
						</div>
						<div class="client-comment">
							<img src="images/2.jpg" alt="clent-foto">
							<div>
								<p>КЛАССНЫЕ ПАРНИ! Реально здорово справляются с поломками ноута и быстренько все чинят. И цена отличная.</p>
								<p>Лида г.Днепр</p>
							</div>
						</div>
					</div>
					<div class="right-section">
						<div class="client-comment">
							<img src="images/3.jpg" alt="clent-foto">
							<div>
								<p>Понравилось то, что люди грамотно и серьезно подходят к вопросу. И еще приятно то, что лишних денег не рубят, быстро проводят диагностику и решают проблему с ноутом.</p>
								<p>Роман г.Каменское</p>
							</div>
						</div>
						<div class="client-comment">
							<img src="images/14.jpg" alt="clent-foto">
							<div>
								<p>Я редко пишу отзывы, но тут просто мимо пройти не могла,настолько понравилось сотрудничать с этим сервисным центром.Обещали сделать работу в срок и слово сдержали. И по деньгам не обманули: какая была сумма заявлена, такую и взяли.</p>
								<p>Виктория г.Днепр</p>
							</div>
						</div>
					</div>
					<a class="more-com">смотреть еще отзывы</a>
					<div class="left-section">
						<div class="client-comment client-comment-show">
							<img src="images/5.jpg" alt="clent-foto">
							<div>
								<p>Выражаю огромную благодарность сервисному центру и очень всем его рекомендую. Что нравится, так это грамотность, оперативность и уважительное отношение к клиентам!</p>
								<p>Саша г.КривойРог</p>
							</div>
						</div>
						<div class="client-comment client-comment-show">
							<img src="images/6.jpg" alt="clent-foto">
							<div>
								<p>Ставлю высокую оценку этому сервисному центру за то, что народ тут работает умелый, с головами и руками из нужного места. И цены не заламывают, за что им отдельный плюс и человеческое спасибо!</p>
								<p>Марина г.Днепр</p>
							</div>
						</div>
						<div class="client-comment client-comment-show">
							<img src="images/7.jpg" alt="clent-foto">
							<div>
								<p>Меня очень порадовала работа этого сервисного центра. Я иногородняя, и добраться до Днепра не с руки. У ребят есть отличная услуга:пересылка ноутбука. Я отправила своего поломанного «старичка», и они его починили. Прислали мне назад ожившего и отлично работающего «пациента». Я думала, что за это будет какая-то сверхсумма и оплата вперед, но оказалось, что никакой предоплаты парни не требуют. Только деньги по факту выполненной работы.</p>
								<p>Элина г.Днепр</p>
							</div>
						</div>
						<div class="client-comment client-comment-show">
							<img src="images/8.jpg" alt="clent-foto">
							<div>
								<p>Прикольный сервисный центр. Обратился с дочей по поводу поломки ее ноута. Ребенок испортил свою «игрушку» и не признается в чем дело.А тут парни оперативненько глянули и выяснили,что она ноут соком залила. Именно благодаря их оперативности его удалось спасти, а то бы пришлось выбрасывать на помойку.</p>
								<p>Семен г.Желтые Воды</p>
							</div>
						</div>
					</div>
					<div class="right-section">
						<div class="client-comment client-comment-show">
							<img src="images/9.jpg" alt="clent-foto">
							<div>
								<p>Отличный центр! Больше всего понравились тарифы на услуги, которые вполне доступны. И еще, могу сказать, что чувствуется опыт и профессиональный подход к работе.</p>
								<p>Петр г.Днепр</p>
							</div>
						</div>
						<div class="client-comment client-comment-show">
							<img src="images/10.jpg" alt="clent-foto">
							<div>
								<p>Очень понравилась услуга-замена ноута. Принес свой, который уже был в полной неисправности. Парни посмотрели и подтвердили, что работать он и правда не будет. Предложили заменить его на новый с доплатой. Мне эта идея понравилась, тем более, что было из чего выбрать! Теперь вот новый ноут, с учетом всех моих пожеланий!</p>
								<p>Константин г.Днепр</p>
							</div>
						</div>
						<div class="client-comment client-comment-show">
							<img src="images/11.jpg" alt="clent-foto">
							<div>
								<p>Для меня время –это самый важный фактор, поэтому хвалю сервисный центр за его экономию. Во-первых, с ремонтом не затягивают и делают все в точно указанные сроки,а во-вторых, работают в выходные дни, что дает возможность обратиться к ним, не теряя драгоценных минут, когда можно успеть отремонтировать ноут.</p>
								<p>Сергей г.Киев</p>
							</div>
						</div>
						<div class="client-comment client-comment-show">
							<img src="images/12.jpg" alt="clent-foto">
							<div>
								<p>Симпатизирую сотрудникам сервисного центра, так как они подошли к ремонту моего ноута со всей ответственностью. И ждать долго не заставили: перезвонили и сказали, что ноут готов. Мне кажется, проявление уважения к клиенту – это одно из важнейших качеств,которым обладают далеко не все сервисные центры, так что плюсую и рекомендую именно «Гарант Сервис».</p>
								<p>Владимир г.Днепр</p>
							</div>
						</div>
					</div>
				</div>
				<hr>
				<div class="white-wrap-3"><h1>Как мы работаем</h1></div>
				<div class="how-work">
					<div class="marg-3">
						<img src="images/work_1.png" alt="how-we-work">
						<p>Заполнение<br> заявки</p>
					</div>
					<div class="marg-4">
						<img src="images/work_2.png" alt="how-we-work">
						<p>Бесплатная<br> диагностика</p>
					</div>
					<div class="marg-1">
						<img src="images/work_3.png" alt="how-we-work">
						<p>Ремонт<br> компьютера</p>
					</div>
					<div class="marg-2">
						<img src="images/work_4.png" alt="how-we-work">
						<p>Оплата<br> и гарантия</p>
					</div>
					<div class="client-mail-1">
						<div class="arr-left arr_11"></div>
						<div class="arr-left arr_12"></div>
						<div class="arr-left arr_13"></div>
						<div class="arr-left arr_14"></div>
						<img src="images/mail.png" alt="how-we-work">
						<p>Доставка к нам<br>от Клиента</p>
					</div>
					<div class="client-mail-2">
						<div class="arr-right arr_21"></div>
						<div class="arr-right arr_22"></div>
						<div class="arr-right arr_23"></div>
						<div class="arr-right arr_24"></div>
						<img src="images/mail.png" alt="how-we-work">
						<p>Отправка<br>Клиенту</p>
					</div>
					<p class="all-uk">Любая компьютерная помощь по Днепру и Украине</p>
					<p>работаем с курьерскими службами <b>"Новая Почта"</b>, <b>"Ин-тайм"</b>, <b>"Деливери"</b></p>
				</div>
			</div>
		</main>
		<footer id="footer">
			<div class="foot-wrap">
				<div class="feed-map-float">
					<div class="foot-feedback">
						<h4>Остались вопросы?</h4>
						<p class="mess1"></p>
						<input class="name-inp" type="text" placeholder="Ваше имя">
						<p class="mess2"></p>
						<input class="phone-inp" type="text" placeholder="Ваш телефон">
						<p class="mess3"></p>
						<button class="gradient shadow-button but-js">Отправить</button>
					</div>
					<div class="map-wrap">
						<div id="map"></div>
					</div>
				</div>
				<span>
					<span><a href="tel:+380938226786">+38 (093) 822-67-86</a></span>
					<span><a href="tel:+380684072660">+38 (068) 407-26-60</a></span>
					<span><a href="mailto:garant@ua.fm">garant@ua.fm</a></span>
					<span><a href="https://vk.com/away.php?utf=1&to=http%3A%2F%2Fwww.icq.com%2Fwhitepages%2Fcmd.php%3Fuin%3D328863870%26action%3Dmessage">icq - 328 863 870</a></span>
				</span>
				<h3 class="address">Нас адрес: ул. Рабочая 24а, блок 5</h3>
				<span class="work-time">
					<h2>Время работы:</h2>
					<div><span>по будням - </span><img src="images/time.png" alt="time"><span> с 9:00 до 18:00</span></div>
					<div><span>по субботам - </span><img src="images/time.png" alt="time"><span> с 11:00 до 18:00</span></div>
					<span>Воскресенье — выходной!</span>
				</span>
				<div class="skype-viber-wrap">
					<a href="viber://add?number=0938226786">
						<img src="images/viber.png" alt="social">
					</a>
					<a href="skype:denhal-dp26?add">
						<img src="images/skype.png" alt="social">
					</a>
					<a href="https://vk.com/garantsdp" target="_blank">
						<img src="images/vk.png" alt="social">
					</a>
				</div>
				<p>© 2016 Produced by <a href="http://webmonsters.dp.ua/" target="_blank">WebMonsters</a> team</p>
			</div>
		</footer>
		<script src="https://api-maps.yandex.ru/2.1/?lang=tr_TR" type="text/javascript"></script>
		<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="js/script.js"></script>
	</body>
</html>