<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">

   		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    	<!--[if lt IE 9]>
      		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    	<![endif]-->

    	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<title>DayLite |</title>
	</head>
	<body>

	<!-- HEADER -->
		<header class="header">
			<div class="container">
				<div class="row">

				<!-- LOGO -->
					<div class="head-h col-lg-2 col-md-2 col-sm-12 col-xs-12 logo">
						<p>Day</p><p>lite</p>
					</div>
					
				<!-- MENU -->
					<div class="head-h col-lg-8 col-md-7 col-sm-12 col-xs-12 ">
						<div class="row head-menu">
							<div class="col-lg-2 col-md-2 col-sm-2 col-sm-2 col-xs-2 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-2 nav__item">HOME</div>
							<div class="col-lg-2 col-md-2 col-sm-2 col-sm-2 col-xs-2 nav__item">PAGES</div>
							<div class="col-lg-2 col-md-2 col-sm-2 col-sm-2 col-xs-2 nav__item">JOURNAL</div>
							<div class="col-lg-2 col-md-2 col-sm-2 col-sm-2 col-xs-2 nav__item">FEATURE</div>
							<div class="col-lg-2 col-md-2 col-sm-2 col-sm-2 col-xs-2 nav__item">CONTACT</div>
						</div>
					</div>
				
				<!-- SOCIAL -->
					<div class="head-h col-lg-2 col-md-3 col-sm-5 col-xs-6 social">
						<div class="social__item pint">
							<div class="pinterest"></div>
						</div>
						<div class="social__item drb">
							<div class="drib"></div>
						</div>
						<div class="social__item tw">
							<div class="twit"></div>
						</div>
						<div class="social__item fb">
							<div class="facebook"></div>
						</div>
						<div class="social__item rss">
							<div class="rss-i"></div>
						</div>
					</div>

				</div>
			</div>
		</header>

	<!-- SLIDER -->
		<div class="slider-wrap" id="wrap">
			<div class="slider" id="slider">

		<!-- IMG -->
				<div class="img5 img">
					<div class="slider__content">
						<div class="container">
							
						<!-- TEXT -->
							<div class="slid-text">
								<h1>Purus Venenatis Ligula Mattis<br>Sem Bibendum Elit</h1>

								<p>Aenean lacinia bibendum nulla sed consectetur, tristique magna curabitur blandit tempus porttitor ultricies vehicula.</p>
								<button type="button">Purchase Now</button>
							</div>

						<!-- IPAD -->
							<div class="slid-ipad">
								<div class="ipad__img"></div>
							</div>
						</div>
					</div>
				</div>

			<!-- IMG -->
				<div class="img0 img">
					<div class="slider__content">
						<div class="container">
							
						<!-- TEXT -->
							<div class="slid-text">
								<h1>Purus Venenatis Ligula Mattis<br>Sem Bibendum Elit</h1>

								<p>Aenean lacinia bibendum nulla sed consectetur, tristique magna curabitur blandit tempus porttitor ultricies vehicula.</p>
								<button type="button">Purchase Now</button>
							</div>

						<!-- IPAD -->
							<div class="slid-ipad">
								<div class="ipad__img"></div>
							</div>
						</div>
					</div>
				</div>

			<!-- IMG -->
				<div class="img1 img">
					<div class="slider__content">
						<div class="container">
							
						<!-- TEXT -->
							<div class="slid-text">
								<h1>Purus Venenatis Ligula Mattis<br>Sem Bibendum Elit</h1>

								<p>Aenean lacinia bibendum nulla sed consectetur, tristique magna curabitur blandit tempus porttitor ultricies vehicula.</p>
								<button type="button">Purchase Now</button>
							</div>

						<!-- IPAD -->
							<div class="slid-ipad">
								<div class="ipad__img"></div>
							</div>
						</div>
					</div>
				</div>

			<!-- IMG -->
				<div class="img2 img">
					<div class="slider__content">
						<div class="container">
							
						<!-- TEXT -->
							<div class="slid-text">
								<h1>Purus Venenatis Ligula Mattis<br>Sem Bibendum Elit</h1>

								<p>Aenean lacinia bibendum nulla sed consectetur, tristique magna curabitur blandit tempus porttitor ultricies vehicula.</p>
								<button type="button">Purchase Now</button>
							</div>

						<!-- IPAD -->
							<div class="slid-ipad">
								<div class="ipad__img"></div>
							</div>
						</div>
					</div>
				</div>

			<!-- IMG -->
				<div class="img3 img">
					<div class="slider__content">
						<div class="container">
							
						<!-- TEXT -->
							<div class="slid-text">
								<h1>Purus Venenatis Ligula Mattis<br>Sem Bibendum Elit</h1>

								<p>Aenean lacinia bibendum nulla sed consectetur, tristique magna curabitur blandit tempus porttitor ultricies vehicula.</p>
								<button type="button">Purchase Now</button>
							</div>

						<!-- IPAD -->
							<div class="slid-ipad">
								<div class="ipad__img"></div>
							</div>
						</div>
					</div>
				</div>

			<!-- IMG -->
				<div class="img4 img">
					<div class="slider__content">
						<div class="container">
							
						<!-- TEXT -->
							<div class="slid-text">
								<h1>Purus Venenatis Ligula Mattis<br>Sem Bibendum Elit</h1>

								<p>Aenean lacinia bibendum nulla sed consectetur, tristique magna curabitur blandit tempus porttitor ultricies vehicula.</p>
								<button type="button">Purchase Now</button>
							</div>

						<!-- IPAD -->
							<div class="slid-ipad">
								<div class="ipad__img"></div>
							</div>
						</div>
					</div>
				</div>

			<!-- IMG -->
				<div class="img5 img">
					<div class="slider__content">
						<div class="container">
							
						<!-- TEXT -->
							<div class="slid-text">
								<h1>Purus Venenatis Ligula Mattis<br>Sem Bibendum Elit</h1>

								<p>Aenean lacinia bibendum nulla sed consectetur, tristique magna curabitur blandit tempus porttitor ultricies vehicula.</p>
								<button type="button">Purchase Now</button>
							</div>

						<!-- IPAD -->
							<div class="slid-ipad">
								<div class="ipad__img"></div>
							</div>
						</div>
					</div>
				</div>

			<!-- IMG -->
				<div class="img0 img">
					<div class="slider__content">
						<div class="container">
							
						<!-- TEXT -->
							<div class="slid-text">
								<h1>Purus Venenatis Ligula Mattis<br>Sem Bibendum Elit</h1>

								<p>Aenean lacinia bibendum nulla sed consectetur, tristique magna curabitur blandit tempus porttitor ultricies vehicula.</p>
								<button>Purchase Now</button>
							</div>

						<!-- IPAD -->
							<div class="slid-ipad">
								<div class="ipad__img"></div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	
	<!-- MAIN -->
		<main class="main">

		<!-- SECTION 1 -->
			<div class="wrap-1">
				<div class="main-section-1 container">
					<div class="row">
						<div class="section-1__item">
							<h1>Nulla vitae elit libero, a pharetra augue curabitur blandit tempus porttitor.</h1>
							<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus.</p>
							<button>Purchase Now</button><button>See Pricing</button>
						</div>
					</div>
				</div>
			</div>

		<!-- SECTION 2 -->
			<div class="wrap-2">
				<div class="main-section-2 container">
					<div class="row">
						<h1>What is Our Process</h1>
						<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur posuere.</p>
					</div>
				</div>
			</div>

		<!-- SECTION 3 - circles -->
			<div class="wrap-3">
				<div class="main-section-3 container" id="circle">
					<div class="row">
						<div class="process__item">
							<div class="ar"></div>
							<div class="circle">
								<div class="circle__img c-img-1"></div>
							</div>
							<div class="section-3__text">
								<p><b>1. </b>Concepting</p>
								<p>Vestibulum id ligula porta felis euismod semper porta.</p>
							</div>
						</div>
						<div class="process__item">
							<div class="ar"></div>
							<div class="circle">
								<div class="circle__img c-img-2"></div>
							</div>
							<div class="section-3__text">
								<p><b>2. </b>Praparing</p>
								<p>Aenean eu leo quam ornare sem lacinia qu venenatis</p>
							</div>
						</div>
						<div class="process__item">
							<div class="ar"></div>
							<div class="circle">
								<div class="circle__img c-img-3"></div>
							</div>
							<div class="section-3__text">
								<p><b>3. </b>Retouching</p>
								<p>Praesent  magnale scelerisque nisl consectetur e nulla vitae.</p>
							</div>
						</div>
						<div class="process__item">
							<div class="ar"></div>
							<div class="circle">
								<div class="circle__img c-img-4"></div>
							</div>
							<div class="section-3__text">
								<p><b>4. </b>Finalizing</p>
								<p>Maecenas diam eget risus varius blandit sit amet non</p>
							</div>
						</div>
						<div class="process__item">
							<div class="circle">
								<div class="circle__img c-img-5"></div>
							</div>
							<div class="section-3__text">
								<p><b>5. </b>Packaging</p>
								<p>Morbi risus porta ac consectetur lacina, vestibulum</p>
							</div>
						</div>
					</div>
				</div>
			</div>

		<!-- SECTION 4 -->
			<div class="wrap-4">
				<div class="main-section-4 container">
					<div class="row">
						<h1>Our Latest Stuff</h1>
						<p>Etiam porta sem malesuada magna mollis euismod. Sed posuere consectetur est at lobortis. Maecenas sed diam eget risus varius blandit sit amet non magna. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod.</p>
					</div>
				</div>
			</div>

		<!-- SECTION 5 - portfolio -->
			<div class="wrap-5">
				<div class="main-section-5 container" id="section-5">
					<div class="row">
						<div class="col-lg-3 col-md-6 col-sm-6 section-5__item">
							<div class="row portfolio__item">
								<div class="portfolio__img"></div>
								<p>Porta Justo Ullamcorper</p>
								<p>Grapic Design, Illustration</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6 section-5__item">
							<div class="row portfolio__item">
								<div class="portfolio__img"></div>
								<p>Vestibulum Aenean Sem</p>
								<p>Motion Graphic</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6 section-5__item">
							<div class="row portfolio__item">
								<div class="portfolio__img"></div>
								<p>Ridiculus Sollicitudin Tortor</p>
								<p>Retouch, Photography</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6 section-5__item">
							<div class="row portfolio__item">
								<div class="portfolio__img"></div>
								<p>Consectetur Tortor Ligula</p>
								<p>Web Design, Responsive</p>
							</div>
						</div>
					</div>
				</div>
			</div>

		<!-- SECTION 6 -->
			<div class="wrap-6">
				<div class="main-section-6 container">
					<div class="row">

						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 left__item">
							<h1>Recent Posts</h1>
							<div class="s6-left__item-1">
								<div class="date-circ">
									<p>23</p>
									<p>Jan</p>
								</div>
								<div class="s6-content">
									<h3>Aenean Adipiscing Etiam Vestibulum</h3>
									<div>
										<p>Photography, journal  |  9 Comments  |  21</p><div class="heart"></div>
									</div>
									<p>Etiam porta sem malesuada magna lorem etor mollis euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
									<a href="#">Continue Reading →</a>
								</div>
							</div>

							<div class="s6-left__item-2">
								<div class="date-circ">
									<p>21</p>
									<p>Jan</p>
								</div>
								<div class="s6-content">
									<h3>Commodo Sem Inceptos Fusce</h3>
									<div>
										<p>Retouch, Photography,  |  11 Comments  | 13</p><div class="heart"></div>
									</div>
									<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio diam eget risus varius blandit magna.</p>
									<a href="#">Continue Reading →</a>
								</div>
							</div>
						</div>

						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 right__item">
							<h1>A Little About Us</h1>
							<p>Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit. Sed posuere consectetur est at lobortis.</p>
							<p>Maecenas faucibus mollis interdum. Donec id elit non mi porta gravida at eget metus. Cras mattis consectetur purus sit amet fermentum. Maecenas sed diam eget. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
							<br>
							<ul>
								<li type="circle">
									<span>Duis mollis, est non commodo luctus, nisi erat porttitor ligula</span>
								</li>
								<li type="circle">
									<span>Eget lacinia odio sem nec elit. Nullam quis risus eget urna mollis ornare.</span>
								</li>
								<li type="circle">
									<span>Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</span>
								</li>
							</ul>
						</div>

					</div>
				</div>
			</div>

		<!-- SECTION 7 -->
			<div class="wrap-7">
				<div class="main-section-7 container">
					<div class="row">
						<h1>,,</h1>
						<p>Maecenas faucibus mollis interdum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Praesent commodo cursus magna, vel scelerisque nisl consectetur et consectetur adipiscing elit.</p>
						<p>by Coriss Ambady</p>
					</div>
				</div>
			</div>

		</main>

	<!-- FOOTER -->
		<footer class="footer">

			<div class="container">
				<div class="row foot-row">

					<div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 foot__item-1">
						<h1>Get In Touch</h1>
						<p>Fusce dapibus, tellus commodo, tortor mauris condimentum utellus fermentum, porta sem malesuada magna.</p>
						<div class="foot__adress">
							<div class="foot__img-1"></div>
							<p>Moonshine Street No: 14/05
							<br>Light City, Jupiter</p>
						</div>
						<div class="foot__adress">
							<div class="foot__img-2"></div>
							<p>0247 541 65 87</p>
						</div>
						<div class="foot__adress">
							<div class="foot__img-3"></div>
							<p>support@longwave.com</p>
						</div>
					</div>

					<div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 foot__item-2">
						<h1>Twitter</h1>
						<div class="foot__twit">
							<div class="foot__img-4"></div>
							<p>Aenean lacinia bibendum nulla sed leo posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
						</div>
						<div class="foot__twit">
							<div class="foot__img-4"></div>
							<p>Donec ullamcorper metus auctor fringilla. Nullam quis risus eget.</p>
						</div>
						<div class="foot__twit">
							<div class="foot__img-4"></div>
							<p>Vestibulum id ligula porta  euismod semper. Maecenas faucibus mollis.</p>
						</div>
					</div>

					<div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 foot__item-3">
						<h1>Popular Posts</h1>
						<div class="data__item">
							<p>Vivamus sagittis lacus vel augue laoreet rutrum dolor auctor.</p>
							<p>14 Nov, 2012 </p>
						</div>
						<div class="data__item">
							<p>Scelerisque nisl consectetur et.</p>
							<p>22 May, 2012</p>
						</div>
						<div class="data__item">
							<p>Pellentesque ornare sem lacinia quam venenatis vestibulum. Fusce</p>
							<p>15 July, 2012</p>
						</div>
					</div>

					<div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 foot__item-4">
						<h1>Contact Form</h1>
						<input type="text" class="foot__input">
						<input type="text" class="foot__input">
						<input type="text" class="foot__input">
						<button>Submit</button>
					</div>

				</div>
			</div>

			<div class="container-fluid">
				<div class="container">
					<div class="row">
						<div class="copyright">
							<p>@ 2013 Daylite. All Rights Reserved.</p>
						</div>
					</div>
				</div>
			</div>
		</footer>

	<!-- JavaScript -->
		<script type="text/javascript" src="libs/jquery-3.1.0.min.js"></script>
		<script type="text/javascript" src="js/script.js"></script>
	</body>
</html>