<!DOCTYPE html>
<html lang="en">
	<head>
			<meta charset="UTF-8">
			<title>Landing | Take</title>
			<link rel="stylesheet" type="text/css" href="css/style.css">
			<link rel="stylesheet" type="text/css" href="css/iPad.css">
			<link rel="stylesheet" type="text/css" href="css/iPhone5.css">
	</head>
	<body>

		<!-- Header -->
		<div class="header">
			<div class="header_img"></div>
			<div class="blue_mist"></div>
			<div class="yellow_mist"></div>
			<div class="header_container">
				<div class="logo">
						<div class="img1"></div>
						<p>take</p>
				</div>
				<div class="header_text">
					<span class="fch">Picture perfect</span>
					<span class="lch">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
				</div>

			</div>
		</div>

		<!-- Main -->
		<div class="main">

			<!-- Section 1 -->

			<div class="section_1">

				<!-- IPHONE -->
				<div class="phone"></div>

				<div class="main_container_1">
					<div class="section_1_text_1">
						<p class="some_new">Start something new</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
						<p>eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.</p>
					</div>
					<div class="section_1_text_2">
						<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
						<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
					</div>
					<div class="section_1_imgArr">
						<div class="box_1">
							<p>Design quality</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.</p>
							<a href="#">Find Out more&nbsp;&nbsp;&nbsp;&nbsp;→</a>
						</div>
						<div class="box_2">
							<p>Built to last</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.</p>
							<a href="#">Find Out more&nbsp;&nbsp;&nbsp;&nbsp;→</a>
						</div>
						<div class="box_3">
							<div class="hover_1">
								<p>Our clients</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
								<a href="#">Get insights&nbsp;&nbsp;&nbsp;&nbsp;→</a>
							</div>
						</div>
						<div class="box_4">
							<p>How to shoo great</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.</p>
							<a href="#">Find Out more&nbsp;&nbsp;&nbsp;&nbsp;→</a>
						</div>
						<div class="box_5">
							<div class="hover_2">
								<p>Sign up & see why</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.</p>
								<a href="#">Get Started Now&nbsp;&nbsp;&nbsp;&nbsp;→</a>
							</div>
						</div>
						<div class="box_6">
							<p>Perfect pictures</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.</p>
							<a href="#">Find Out more&nbsp;&nbsp;&nbsp;&nbsp;→</a>
						</div>
						<div class="box_7">
							<div class="hover_3">
								<p>Start something new</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.</p>
								<a href="#">Get Started Now&nbsp;&nbsp;&nbsp;&nbsp;→</a>
							</div>
						</div>
					</div>
					<div class="section_1_text_3">
						<p class="first">A look at the details</p>
						<div class="p">
							<div class="p_1">
								<p>Web based</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
							</div>
							<div class="p_2">
								<p>Performance</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
							</div>
							<div class="p_3">
								<p>Cultural</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
							</div>
							<div class="p_4">
								<p>Sustainability</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Section 2 -->

			<div class="section_2">
				<div class="section_2_img">
					<div class="section_2_text">
						<p>More power behind every pixel.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						<a href="#">See the options&nbsp;&nbsp;&nbsp;&nbsp;→</a>
					</div>
				</div>
			</div>

			<!-- Section 3 -->

			<div class="section_3">
				<div class="section_3_container">
					<p>Reasons to get onboard</p>
					<div class="section_3_text">
						<div class="p_5">
							<p>Web based</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						</div>
						<div class="p_6">
							<p>Team login</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						</div>
						<div class="p_7">
							<p>Great Support</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						</div>
					</div>
				</div>
			</div>

			<!-- Section 4 -->

			<div class="section_4">
				<div class="section_4_container">
					<div class="button_box_1" name="but">
						<div class="pink_1">Legacy</div>
						<p>Go it solo</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
						<button>Buy now $9</button>
						<div>
							<div class="app_1"></div>
							<div id="win_1"></div>
						</div>
					</div>
					<div class="button_box_2" name="but">
						<div class="pink_2">Most Popular</div>
						<p>Team Plan</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
						<button>Buy now $18</button>
						<div>
							<div class="app_2"></div>
							<div id="win_2"></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Footer -->
		<div class="footer">
			<div class="footer_section">
				<div class="footer_text_1">
					<p>Get in touch</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				</div>
				<div class="footer_send">
					<p>Stay in touch</p>
					<div class="form">
						<input placeholder="example@mail.com">
						<button class="send"></button>
					</div>
					<p>We don’t send spam. Actually, who are we kiding, we’ll spam the shit out of you’r inbox</p>
				</div>
				<div class="footer_text_2">
					<div class="r">
						<a href="#">Resources</a>
						<a href="#">Tour</a>
						<a href="#">Customers</a>
						<a href="#">aricing and alans</a>
						<a href="#">New Features</a>
						<a href="#">Education</a>
					</div>
					<div class="f">
						<a href="#">Features</a>
						<a href="#">Tour</a>
						<a href="#">Customers</a>
						<a href="#">aricing and alans</a>
						<a href="#">New Features</a>
						<a href="#">Education</a>
					</div>
					<div class="h">
						<a href="#">How To’s</a>
						<a href="#">Tour</a>
						<a href="#">Customers</a>
						<a href="#">aricing and alans</a>
						<a href="#">New Features</a>
						<a href="#">Education</a>
					</div>
				</div>
			</div>
		</div>

		<!-- Script -->
		<script type="text/javascript" src="js/script.js"></script>
	</body>
</html>