<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/owl.carousel.css">
		<link rel="stylesheet" type="text/css" href="font/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="css/slick.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">

		<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
		<title>MoGo</title>
	</head>
	<body id="body">
		<header id="header">
			<div class="head-img-gradient">
				<div class="head-wrap">
					<h1>MoGo</h1>
					<div class="menu">
						<img src="i/search.png" alt="search">
						<img src="i/shop.png" alt="shop">
						<span>О нас</span>
						<span>Сервис</span>
						<span>Работы</span>
						<span>Блог</span>
						<span>Контакты</span>
					</div>
					<div class="head-txt-cent">
						<h2 class="creat-txt">Творческий Сайт</h1>
						<h1>Добро пожаловать<br>в MoGo</h1>
						<div class="w-line"></div>
						<button>узнать больше</button>
					</div>
					<div id="switches">
						<a href="#section_1" id="first_menu">
							<div>
								<div></div>
							</div>
							<div>
								<p>01</p>
								<p>Вступление</p>
							</div>
						</a>
						<a href="#section_5" id="second_menu">
							<div>
								<div></div>
							</div>
							<div>
								<p>02</p>
								<p>Сервис</p>
							</div>
						</a>
						<a href="#section_10" id="third_menu">
							<div>
								<div></div>
							</div>
							<div>
								<p>03</p>
								<p>Работы</p>
							</div>
						</a>
						<a href="#section_14" id="last_menu">
							<div>
								<div></div>
							</div>
							<div>
								<p>04</p>
								<p>Контакты</p>
							</div>
						</a>
					</div>
				</div>
			</div>
		</header>
		<main id="main">
			<section id="section_1">
				<div class="s1_wrap" id="scroll_1">
					<h2>Что мы делаем</h2>
					<h1>История о нас</h1>
					<div class="pink-line"></div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					<div class="s1_wrap_1">
						<div class="s1_img_1">
							<div class="s1_img_grad s1_grad_1">
								<div class="users"></div>
								<p>супер-команда</p>
							</div>
						</div>
					</div>
					<div class="s1_wrap_2">
						<div class="s1_img_2">
							<div class="s1_img_grad s1_grad_2">
								<div class="users"></div>
								<p>супер-команда</p>
							</div>
						</div>
					</div>
					<div class="s1_wrap_3">
						<div class="s1_img_3">
							<div class="s1_img_grad s1_grad_3">
								<div class="users"></div>
								<p>супер-команда</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section id="section_2">
				<div class="s2_wrap">
					<div>
						<h3 id="num_1"></h3>
						<p class="dis_n">Веб Проэкта</p>
					</div>
					<div>
						<h3 id="num_2"></h3>
						<p class="dis_n">Счастливых клиентов</p>
					</div>
					<div>
						<h3 id="num_3"></h3>
						<p class="dis_n">Лауреатов на премии</p>
					</div>
					<div>
						<h3 id="num_4"></h3>
						<p class="dis_n">Чашек кофе</p>
					</div>
					<div>
						<h3 id="num_5"></h3>
						<p class="dis_n">Участника</p>
					</div>
				</div>
			</section>
			<section id="section_3">
				<div class="s3_wrap">
					<h2>Мы предоставляем</h2>
					<h1>Удивительные Услуги</h1>
					<div class="pink-line"></div>
					<div class="services">
						<div class="services_up">
							<div>
								<img src="i/clock.png" alt="clock">
								<div>	
									<h3>Фотография</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
								</div>
							</div>
							<div>
								<img src="i/graph.png" alt="graph">
								<div>	
									<h3>Веб Дизайн</h3>
									<p>Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
								</div>
							</div>
							<div>
								<img src="i/pc.png" alt="pc">
								<div>	
									<h3>Креативность</h3>
									<p>Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
								</div>
							</div>
						</div>
						<div class="services_down">
							<div>
								<img src="i/book.png" alt="book">
								<div>	
									<h3>Сео</h3>
									<p>Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
								</div>
							</div>
							<div>
								<img src="i/home.png" alt="home">
								<div>	
									<h3>Css/Html</h3>
									<p>Lorem dolor sit amet, consectetur adipiscing elit, sed do tempor.</p>
								</div>
							</div>
							<div>
								<img src="i/kv.png" alt="kv">
								<div>	
									<h3>Оцифровка</h3>
									<p>Sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
								</div>
							</div>
						</div>
					</div>
			</section>
			<section id="section_4">
				<div class="s4_bg_img">
					<div class="s4_white_shadow">
						<div class="s4_wrap">
							<h2>Для все устройств</h2>
							<h1>Уникальный дизайн</h1>
							<div class="pink-line"></div>
							<img src="i/tablet.png" alt="tablet">
							<img src="i/iphone.png" alt="iphone">
						</div>
					</div>
				</div>
			</section>
			<section id="section_5">
				<div class="s5_wrap">
					<h2>Сервис</h2>
					<h1>Что мы делаем</h1>
					<div class="pink-line"></div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					<img src="i/men.jpg" alt="men">
					<div class="accordion">
						<div id="acordion_1">
							<img src="i/acord_1.png" alt="img_1">
							<span>Фотография</span>
							<img class="ac_arr arr_1" src="i/arr.png" alt="arrow">
							<p id="p_acord_1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla</p>
						</div>
						<div id="acordion_2">
							<img src="i/acord_2.png" alt="img_2">
							<span>Креативность</span>
							<img class="ac_arr arr_2" src="i/arr.png" alt="arrow">
							<p id="p_acord_2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla</p>
						</div>
						<div id="acordion_3">
							<img src="i/acord_3.png" alt="img_3">
							<span>Веб-Дизайн</span>
							<img class="ac_arr arr_3" src="i/arr.png" alt="arrow">
							<p id="p_acord_3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla</p>
						</div>
					</div>
				</div>
			</section>
			<section id="section_6">
				<div class="s6_wrap">
					<div id="owl-example" class="owl-carousel">
  						<div class="slid-item">
  							<div>
  								<img src="i/dialog.png" alt="message">
  							</div>
  							<div>
  								<p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”</p>
  								<span></span>
  								<h4>Jon Doe</h4>
  							</div>
  						</div>
  						<div class="slid-item">
  							<div>
  								<img src="i/dialog.png" alt="message">
  							</div>
  							<div>
  								<p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”</p>
  								<span></span>
  								<h4>Jon Doe</h4>
  							</div>
  						</div>
  						<div class="slid-item">
  							<div>
  								<img src="i/dialog.png" alt="message">
  							</div>
  							<div>
  								<p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”</p>
  								<span></span>
  								<h4>Jon Doe</h4>
  							</div>
  						</div>
  					</div>
				</div>
			</section>
			<section id="section_7">
				<div class="s7_wrap">
					<h2>Кто мы такие</h2>
					<h1>Встречайте нашу команду</h1>
					<div class="pink-line"></div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					<div class="s7_wrap_team">
						<div class="s7_wrap_1">
							<div class="sky_wrap sky_wrap_1">
								<div class="img_1_team">
									<div class="s7_grad s7_grad_1">
										<div class="social_team">
											<div><i class="fa fa-facebook" aria-hidden="true"></i></div>
											<div><i class="fa fa-twitter" aria-hidden="true"></i></div>
											<div><i class="fa fa-pinterest-p" aria-hidden="true"></i></div>
											<div><i class="instagram"></i></div>
										</div>
									</div>
								</div>
							</div>
							<h4>Matthew Dix</h4>
							<p>Графический дизайн</p>
						</div>
						<div class="s7_wrap_2">
							<div class="sky_wrap sky_wrap_2">
								<div class="img_2_team">
									<div class="s7_grad s7_grad_2">
										<div class="social_team">
											<div><i class="fa fa-facebook" aria-hidden="true"></i></div>
											<div><i class="fa fa-twitter" aria-hidden="true"></i></div>
											<div><i class="fa fa-pinterest-p" aria-hidden="true"></i></div>
											<div><i class="instagram"></i></div>
										</div>
									</div>
								</div>
							</div>
							<h4>Christopher Campbell</h4>
							<p>Бренд/UX дизайнер</p>
						</div>
						<div class="s7_wrap_3">
							<div class="sky_wrap sky_wrap_3">
								<div class="img_3_team">
									<div class="s7_grad s7_grad_3">
										<div class="social_team">
											<div><i class="fa fa-facebook" aria-hidden="true"></i></div>
											<div><i class="fa fa-twitter" aria-hidden="true"></i></div>
											<div><i class="fa fa-pinterest-p" aria-hidden="true"></i></div>
											<div><i class="instagram"></i></div>
										</div>
									</div>
								</div>
							</div>
							<h4>Michael Fertig </h4>
							<p>Разработчик</p>
						</div>
					</div>
				</div>
			</section>
			<section id="section_8">
				<div class="s8_wrap">
					<img src="i/development.png" alt="log">
				</div>
			</section>
			<section id="section_9">
				<div class="s9_wrap">
					<h2>Что мы делаем</h2>
					<h1>Некоторые наши работы</h1>
					<div class="pink-line"></div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				</div>
			</section>
			<section id="section_10">
				<div class="gallery_left">
					<div>
						<div class="s10_wh s10_img1">
							<div class="s10_grad">
								<img src="i/s10_pict.png" alt="pict">
								<h4>творчески разработан</h4>
								<p>Lorem ipsum dolor sit</p>
							</div>
						</div>
					</div>
					<div>
						<div class="s10_wh s10_img2">
							<div class="s10_grad">
								<img src="i/s10_pict.png" alt="pict">
								<h4>творчески разработан</h4>
								<p>Lorem ipsum dolor sit</p>
							</div>
						</div>
					</div>
					<div>
						<div class="s10_wh s10_img3">
							<div class="s10_grad">
								<img src="i/s10_pict.png" alt="pict">
								<h4>творчески разработан</h4>
								<p>Lorem ipsum dolor sit</p>
							</div>
						</div>
					</div>
					<div>
						<div class="s10_wh s10_img4">
							<div class="s10_grad">
								<img src="i/s10_pict.png" alt="pict">
								<h4>творчески разработан</h4>
								<p>Lorem ipsum dolor sit</p>
							</div>
						</div>
					</div>
				</div>
				<div class="gallery_right">
					<div>
						<div class="s10_wh s10_img5">
							<div class="s10_grad s10_top">
								<img src="i/s10_pict.png" alt="pict">
								<h4>творчески разработан</h4>
								<p>Lorem ipsum dolor sit</p>
							</div>
						</div>
					</div>
					<div>
						<div class="s10_wh s10_img6">
							<div class="s10_grad">
								<img src="i/s10_pict.png" alt="pict">
								<h4>творчески разработан</h4>
								<p>Lorem ipsum dolor sit</p>
							</div>
						</div>
					</div>
					<div>
						<div class="s10_wh s10_img7">
							<div class="s10_grad">
								<img src="i/s10_pict.png" alt="pict">
								<h4>творчески разработан</h4>
								<p>Lorem ipsum dolor sit</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section id="section_11">
				<div class="s11_wrap">
					<div class="slid_slick">
  						<div class="s11_slid-item">
  							<div>
  								<div class="img_circle"></div>
  							</div>
  							<div>
  								<p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”</p>
  								<span></span>
  								<h4>Joshua Earle</h4>
  							</div>
  						</div>
  						<div class="s11_slid-item">
  							<div>
  								<div class="img_circle"></div>
  							</div>
  							<div>
  								<p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”</p>
  								<span></span>
  								<h4>Joshua Earle</h4>
  							</div>
  						</div>
  						<div class="s11_slid-item">
  							<div>
  								<div class="img_circle"></div>
  							</div>
  							<div>
  								<p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”</p>
  								<span></span>
  								<h4>Joshua Earle</h4>
  							</div>
  						</div>
  					</div>
				</div>
			</section>
			<section id="section_12">
				<div class="s12_bg_img">
					<div class="s12_white_shadow">
						<div class="s12_wrap">
							<h2>Довольные клиенты</h2>
							<h1>Что говорят о нас</h1>
							<div class="pink-line"></div>
							<div class="s12_left">
								<div>
									<div class="s12_men1"></div>
									<div class="s12_text">
										<h3>Matthew Dix</h3>
										<h4>Графический дизайнер</h4>
										<span></span>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
									</div>
								</div>
								<div>
									<div class="s12_men3"></div>
									<div class="s12_text">
										<h3>Jaelynn Castillo</h3>
										<h4>Графический дизайнер</h4>
										<span></span>
										<p>Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
									</div>
								</div>
							</div>
							<div class="s12_right">
								<div>
									<div class="s12_men2"></div>
									<div class="s12_text">
										<h3>Nick Karvounis</h3>
										<h4>Графический дизайнер</h4>
										<span></span>
										<p>Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
									</div>
								</div>
								<div>
									<div class="s12_men4"></div>
									<div class="s12_text">
										<h3>Mike Petrucci</h3>
										<h4>Графический дизайнер</h4>
										<span></span>
										<p>Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section id="section_13">
				<div class="s13_wrap">
					<h2>Наша история</h2>
					<h1>Последний блог</h1>
					<div class="pink-line"></div>
					<div class="s13_wrap_item">
						<div class="s13_item s13_item_1">
							<div class="blue_bg">
								<div class="s13_img1">
									<div class="day">
										<h4>15</h4>
										<p>Янв</p>
									</div>
								</div>
							</div>
							<div class="s13_text">
								<h3>lorem ipsum dolor sit amet</h3>
								<p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
							</div>
							<img src="i/view.png" alt="view"><span>542</span><img class="top_img" src="i/mess.png" alt="mess"><span>17</span>
						</div>
						<div class="s13_item s13_marg s13_item_2">
							<div class="blue_bg">
								<div class="s13_img2">
									<div class="day">
										<h4>14</h4>
										<p>Янв</p>
									</div>
								</div>
							</div>
							<div class="s13_text">
								<h3>sed do eiusmod tempor</h3>
								<p>Adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
							</div>
							<img src="i/view.png" alt="view"><span>992</span><img class="top_img" src="i/mess.png" alt="mess"><span>42</span>
						</div>
						<div class="s13_item s13_item_3">
							<div class="blue_bg">
								<div class="s13_img3">
									<div class="day">
										<h4>12</h4>
										<p>Янв</p>
									</div>
								</div>
							</div>
							<div class="s13_text">
								<h3>incididunt ut labore et dolore</h3>
								<p>Elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
							</div>
							<img src="i/view.png" alt="view"><span>1560</span><img class="top_img" src="i/mess.png" alt="mess"><span>98</span>
						</div>
					</div>
					<div class="comment_shadow_1">
						<div class="comment_wrap">
							<div class="img_comment_wrap_1">
								<div class="img_cm">
									<img src="i/s13_img1.jpg" alt="comment">
								</div>
							</div>
							<div class="comment">
								<div class="user_info">
									<div class="user_img_cm"></div>
									<div class="user_info_text">
										<h4>Alex Mesa</h4>
										<p>12 Января 2016г</p>
									</div>
								</div>
								<div class="comment_text"></div>
								<div class="comment_input">
									<textarea class="user_say"></textarea>
   								    <label class="file_upload">
    									<span class="button">Выбрать</span>
    									<button type="button"></button>
    									<input type="file">
    								</label>
    								<div class="submit"><input type="submit" value="Отправить"></div>
								</div>
							</div>
							<div class="close"></div>
						</div>
					</div>
					<div class="comment_shadow_2">
						<div class="comment_wrap">
							<div class="img_comment_wrap_2">
								<div class="img_cm">
									<img src="i/s13_img2.jpg" alt="comment">
								</div>
							</div>
							<div class="comment">
								<div class="user_info">
									<div class="user_img_cm"></div>
									<div class="user_info_text">
										<h4>Alex Mesa</h4>
										<p>12 Января 2016г</p>	
									</div>
								</div>
								<div class="comment_text"></div>
								<div class="comment_input">
									<textarea class="user_say"></textarea>
   								    <label class="file_upload">
    									<span class="button">Выбрать</span>
    									<button type="button"></button>
    									<input type="file">
    								</label>
    								<div class="submit"><input type="submit" value="Отправить"></div>
								</div>
							</div>
							<div class="close"></div>
						</div>
					</div>
					<div class="comment_shadow_3">
						<div class="comment_wrap">
							<div class="img_comment_wrap_3">
								<div class="img_cm">
									<img src="i/s13_img3.jpg" alt="comment">
								</div>
							</div>
							<div class="comment">
								<div class="user_info">
									<div class="user_img_cm"></div>
									<div class="user_info_text">
										<h4>Alex Mesa</h4>
										<p>12 Января 2016г</p>
									</div>
								</div>
								<div class="comment_text"></div>
								<div class="comment_input">
									<textarea class="user_say"></textarea>
   								    <label class="file_upload">
    									<span class="button">Выбрать</span>
    									<button type="button"></button>
    									<input type="file">
    								</label>
    								<div class="submit"><input type="submit" value="Отправить"></div>
								</div>
							</div>
							<div class="close"></div>
						</div>
					</div>
				</div>
			</section>
			<section id="section_14">
				<div id="map_ya" style="width: 100%; height: 200px"></div>
				<div class="s14_img_bg">
					<div class="grey_layer">
						<img src="i/location.png" alt="location">
						<h1 id="open_map">Открыть карту</h1>
						<div></div>
					</div>
				</div>
			</section>
		</main>
		<footer id="footer">
			<div class="foot_wrap">
				<div class="wrap_bord">
					<div class="foot_item foot_1">
						<h1>MoGo</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						<span>15к </span>
						<span>подписчиков</span>
						<div class="subscribe">
							<span>Подпишись на нас: </span>
							<i class="fa fa-facebook" aria-hidden="true"></i>
							<i class="fa fa-twitter" aria-hidden="true"></i>
							<span class="inst_bl"></span>
							<i class="fa fa-pinterest-p" aria-hidden="true"></i>
							<span class="google_pl"></span>
							<i class="fa fa-youtube-play" aria-hidden="true"></i>
							<i class="fa fa-dribbble" aria-hidden="true"></i>
							<span class="tumblr"></span>
						</div>
						<div class="inputs">
							<input class="inp_text" type="text" placeholder="Введите почту...">
							<button class="but_sub">подписаться</button>
						</div>
					</div>
					<div class="foot_item foot_2">
						<h2>Блоги</h2>
						<div>
							<img src="i/blog1.jpg" alt="blog_img1">
							<div class="text_cont">
								<h3>Lorem ipsum dolor sit amet, consectetur adipiscing</h3>
								<p>Янв 9, 2016</p>
							</div>
						</div>
						<div>
							<img src="i/blog2.jpg" alt="blog_img2">
							<div class="text_cont">
								<h3>Consectetur adipiscing elit, sed do eiusmod tempor</h3>
								<p>Янв 9, 2016</p>
							</div>
						</div>
						<div>
							<img src="i/blog3.jpg" alt="blog_img3">
							<div class="text_cont">
								<h3>sed do eiusmod tempor incididunt ut labore</h3>
								<p>Янв 9, 2016</p>
							</div>
						</div>
					</div>
					<div class="foot_item foot_3">
						<h2>instagram</h2>
						<img src="i/inst1.jpg" alt="instagram_img">
						<img src="i/inst2.jpg" alt="instagram_img">
						<img src="i/inst3.jpg" alt="instagram_img">
						<img src="i/inst4.jpg" alt="instagram_img">
						<img src="i/inst5.jpg" alt="instagram_img">
						<img src="i/inst6.jpg" alt="instagram_img">
						<img src="i/inst7.jpg" alt="instagram_img">
						<img src="i/inst8.jpg" alt="instagram_img">
						<img src="i/inst9.jpg" alt="instagram_img">
						<a href="#">Посмотреть больше фотографий</a>
					</div>
				</div>
				<span class="licence">© 2016 powered by <a href="#"><b>Web Monsters</b></a></span>
			</div>
		</footer>
		<script src="js/jquery-3.1.1.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/slick.min.js"></script>
		<script type="text/javascript" src="js/script.js"></script>
	</body>
</html>