<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <title>Landing | Rubezhin S</title>
    </head>

    <body>
    <!-- HEADER -->
    	<header id="header">
		<!-- Preview block -->
    		<div class="container">
    			<div class="row">
    				<div class="preview">
    					<div class="logo"></div>
    					<h1>Working<br>with design lab</h1>
    					<p>We’ve been helping startups launch and grow their businesses.<br>We help you to fill the gap between development,<br>design and product management.</p>
    				</div>
    				<a id="arrow" href="#footer">
    					<div class="arrow"></div>
    				</a>
    			</div>
    		</div>
    	</header>
    <!-- MAIN -- >

    <!-- Section 1 About us -->
    	<main id="main">
    		<section class="container-fluid bg1">
    			<div class="row">
    				<div class="section-1-block" id="block-1">
    					<div>
    						<h2>About us</h2>
    					</div>
    					<p> When you work with us, you are part of a team of committed collaborators.<br>All aspects of our software development process are integrated, iterative and<br>agile.</p>
    					<p>Our approach unifies design, development and<br>product management to create exceptional products.<br>We start each project by understanding your business goals,<br>the user’s needs and the product requirements.<br>Then we help translate them into effective and elegant solutions.</p>
    				</div>
    			</div>
    		</section>
		<!-- Section 2 Services-->
    		<section class="container-fluid bg2">
    			<div class="row">
    				<div class="section-2-block" id="block-2">
    					<div class="s2-wrap">
    						<h2>Services</h2>
    					</div>
    					<div class="border"></div>
						<div class="border border-right"></div>
    					<p>Before we sign a contract or write a line of code our team will spend the neces-<br>sary time needed to understand your product vision.<br>The outcome of this scoping session is a proposal or high-level statement of work.<br>Based on your requirements, we can provide a complete offering or just the<br>pieces you need.</p>
    				</div>
    			</div>
    		</section>
		<!-- Section 3 Creating our work -->
    		<section class="container-fluid bg3">
    			<div class="row">
    				<div class="section-3-block" id="block-3">
    					<div class="s3-wrap">
    						<h2>What we do</h2>
    					</div>
    				<!-- Design -->
    					<div class="design"></div>
    					<h4>Design</h4>
    					<p>Our design practice offers a full range of services including branding strategy,<br>interaction and visual design and user experience testing.<br>Throughout your project, our designers create and implement visual designs and workflows,<br>solicit user feedback, and work with you to make sure what gets built is what is needed.</p>
					<!-- Development -->
    					<div class="development"></div>
    					<h4>Development</h4>
    					<p>All engineers are fluent in the latest enterprise, mobile and web development technologies.<br>They collaborate with your team to write, test, and improve code on a daily basis, using proven<br>practices such as test-driven development and pair programing.</p>
					<!-- Manegement -->
    					<div class="management"></div>
    					<h4>Product Management</h4>
    					<p>Planning and development is iterative. Because we are constantly coding and testing, the<br>products we build are always ready to go live. This iterative process allows for changes as<br>business requirements evolve.</p>
    				</div>
    			</div>
    		</section>
		<!-- Section 4 Gallery -->
    		<section class="container-fluid bg4">
    			<div class="row">
    				<div class="portfolio img1">
    					<h2>Topworkz</h2>
    				</div>
    				<div class="portfolio img2">
    					<h2>Joint</h2>
    				</div>
    				<div class="portfolio img3">
    					<h2>Market</h2>
    				</div>
    				<div class="portfolio img4">
    					<h2>Worktop</h2>
    				</div>
    				<div class="portfolio img5">
    					<h2>Lable</h2>
    				</div>
    				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 portfolio img6">
    					<h2>Kyiv</h2>
    				</div>
    			</div>
    		</section>
    	</main>
    <!-- FOOTER -->
    	<footer id="footer">
    	<!-- Footer block -->
    		<div class="container-fluid">
    			<div class="row">
    				<div class="footer-block">
    					<div class="foot-wrap">
    						<h2>Contact us</h2>
    					</div>
    					<p>Planning and development is iterative. Because we are constantly coding and testing,<br>the products we build are always ready to go live. This iterative process<br>allows for changes as business requirements evolve.</p>
    					<div class="input-wrap">
    						<input type="button" class="input" value="Contact us">
    					</div>
    				</div>
    			</div>
    		</div>
    	<!-- License -->
    		<div class="container-fluid">
    			<div class="row">
    				<div class="license">
    					<div class="foot-logo"></div>
    					<p>© 2014. All Rights Reserved Ellipsis.com</p>
    				</div>
    			</div>
    		</div>
    	</footer>
	<!-- JS -->
    	<script type="text/javascript" src="libs/jquery-3.1.0.min.js"></script>
    	<script type="text/javascript" src="js/script.js"></script>
    </body>
</html>