<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<title>Web Monsters</title>
</head>
<body>
	<header id="header">
		<div class="bg-blue">
			<div class="logo">
				<span>WebM</span>
				<img src="images/monster.png" alt="monster">
				<span>nsters</span>
			</div>
			<div class="head_wrap">
				<h1>НАШИ САЙТЫ ЗАСТАВЛЯЮТ РАБОТАТЬ ВАШ БИЗНЕС.</h1>
				<p>Большинство веб-студий считают окончанием работы загрузку сайта в интернет. Но почти никто не умеет делать проекты, которые работают и приносят прибыль.</p>
				<div class="head_img_block">
					<div class="counter-block_1">
						<div class="right-line"></div>
						<div class="left-line"></div>
						<div class="img_container">
							<img src="images/head_block_3.png" alt="star">
						</div>
						<h2 id="num_1"></h2>
						<p>оказанных услуг</p>
					</div>
					<div class="counter-block_2">
						<div class="right-line"></div>
						<div class="left-line"></div>
						<div class="img_container">
							<img src="images/head_block_2.png" alt="list">
						</div>
						<h2 id="num_2"></h2>
						<p>проектов</p>
					</div>
					<div class="counter-block_3">
						<div class="right-line"></div>
						<div class="left-line"></div>
						<div class="img_container">
							<img src="images/head_block_1.png" alt="diamont">
						</div>
						<h2 id="num_3"></h2>
						<p>постоянных клиентов</p>
					</div>
				</div>
			</div>
		</div>
	</header>
	<main>
		<div class="menu-wrap">
			<ul id="menu-fixed">
				<div id="menu-but"></div>
				<li class="menu-item"><a href="#">Контакты</a></li>
				<li class="menu-item"><a href="#">Наши работы</a></li>
				<li class="menu-item"><a href="#">Услуги</a></li>
				<li class="menu-item"><a href="#">О нас</a></li>
				<li class="menu-item"><a href="#">Главная</a></li>
			</ul>
		</div>
		<section id="section_1">
			<div class="s1_wrap">
				<h3>WM</h3>
				<div class="s1_bg_white">
					<h4>Студия</h4>
					<span>Основная специализация — проектирование сайов и landing page. Наша команда, состоящая из дизайнеров, маркетологов и программистов, поддерживает каждый проект на протяжении всей его жизни. Студия занимается разработкой индивидуального дизайна, оптимизацией скорости работы продукта, предоставляет услуги по продвижению сайтов.</span>
				</div>
			</div>
		</section>
		<section id="section_2">
			<div class="s2_wrap">
				<div class="s2_item">
					<div class="s2_img_1"></div>
					<h4>Старт</h4>
					<p>Вы хотите получать больше клиентов и прибыли из интернета? С нуля разработаем сайт любой сложности, учитывая индивидуальные особенности вашего бизнеса. Стоимость создания сайта в каждом конкретном случае индивидуальна и рассчитывается исходя из пожеланий и требований клиента</p>
					<div class="from_cash">от 500 грн</div>
					<div class="arr"></div>
				</div>
				<div class="s2_item">
					<div class="s2_img_2"></div>
					<h4>Продвижение</h4>
					<p>Одним из важнейших этапов продвижения сайта является поисковая оптимизация (SEO), которая представляет собой комплекс мер по повышению позиции сайта в поисковых системах, и, таким образом, позволяет увеличить его целевую посещаемость.</p>
					<div class="from_cash">от 500 грн</div>
					<div class="arr"></div>
				</div>
				<div class="s2_item">
					<div class="s2_img_3"></div>
					<h4>Поддержка</h4>
					<p>У Вас уже работающий бизнес и Вы регулярно нуждаетесь в услугах веб-студии но брать сотрудника в штат и оборудовать дополнительное рабочее место не выгодно? Мы готовы взять эти проблемы на себя и предоставлять нужные услуги удаленно.</p>
					<div class="from_cash">от 500 грн</div>
					<div class="arr"></div>
				</div>
			</div>
		</section>
		<section id="section_3">
			<div class="bg-blue">
				<div class="s3_wrap">
					<h2>КРЕДО НАШЕЙ КОМПАНИИ</h2>
					<p>Мы хотим, чтобы Ваш бизнес был еще успешней и прибыльней. В нашем понимании качественный продукт — это достижение гармонии между эстетикой и маркетинговыми целями. Высокий уровень контроля качества, опыт работы и креативный подход к решению задач — залог нашего успеха.</p>
				</div>
			</div>
		</section>
		<section id="section_4">
			<div class="yellow-block">
				<h3>Разработка</h3>
				<img src="images/gear_2.png" alt="gear">
				<img src="images/gear_1.png" alt="gear">
			</div>
			<div class="s4_wrap">
				<div class="service_item_1">
					<div class="black_shadow black_shadow_1">
						<h3>LANDING PAGE</h3>
						<div class="white-line"></div>
						<div class="price-box_1">от 4000 грн</div>
						<div class="arr_price arr_price_1"></div>
						<div class="hover-block_blue"></div>
					</div>
				</div>
				<div class="service_item_2">
					<div class="black_shadow black_shadow_2">
						<h3>ВЕБ-САЙТ</h3>
						<div class="white-line"></div>
						<div class="price-box_2">от 5000 грн</div>
						<div class="arr_price arr_price_2"></div>
						<div class="hover-block_yellow"></div>
					</div>
				</div>
				<div class="service_item_3">
					<div class="black_shadow black_shadow_3">
						<h3>ИНТЕРНЕТ МАГАЗИН</h3>
						<div class="white-line"></div>
						<div class="price-box_3">от 6000 грн</div>
						<div class="arr_price arr_price_3"></div>
						<div class="hover-block_green"></div>
					</div>
				</div>
			</div>
		</section>
		<section id="section_5">
			<div class="s5_wrap">
				<h1>BE THE FIRST</h1>
				<div class="s5_left">
					<h2>ПЕРВЫЕ В ПОИСКЕ</h2>
					<p>Мы предлагаем услуги по SEO продвижению сайтов в ведущих поисковых системах Yandex и Google. Поисковое продвижение сайта в нашей веб-студии — это гарантированное присутствие на лидирующих позициях и привлечение необходимой аудитории.</p>
				</div>
				<div class="s5_right">
					<img src="images/google.png" alt="google">
					<img src="images/yandex.png" alt="yandex">
				</div>
			</div>
		</section>
		<section id="section_6">
			<h1>OUR PROJECTS</h1>
			<div class="bg_blue_w"></div>
			<h3>ПОСЛЕДНИЕ ПРОЕКТЫ</h3>
		</section>
		<section id="section_7">
			<div class="gallery">
				<div class="big_imgs">
					<img src="images/gall_1.jpg" alt="img">
					<img src="images/gall_2.jpg" alt="img">
				</div>
				<div class="small_imgs">
					<img src="images/gall_3.jpg" alt="img">
					<img src="images/gall_4.jpg" alt="img">
					<img src="images/gall_5.jpg" alt="img">
					<img src="images/gall_6.jpg" alt="img">
				</div>
			</div>
		</section>
		<section id="section_8">
			<button>ЕЩЕ БОЛЬШЕ</button>
		</section>
		<section id="section_9">
			<div class="s9_wrap">
				<h1>ADAPTATE</h1>
				<div class="s9_left">
					<h2>АДАПТИВНОСТЬ</h2>
					<p>Зачем ограничивать свой бизнес только пользователями стандартных компьютеров и ноутбуков? Ведь сегодня все чаще люди заходят в интернет с мобильных гаджетов. Дайте им возможность купить именно у вас, обеспечив своему сайту правильное отображение на любом виде устройства.</p>
				</div>
				<div class="s9_right">
					<img src="images/phone.png" alt="phone">
					<img src="images/laptop.png" alt="laptop">
					<img src="images/pc.png" alt="pc">
				</div>
			</div>
		</section>
		<section id="section_10">
			<div class="bg-blue">
				<div class="s10_wrap">
					<h1>TRADE-IN</h1>
					<div class="trade_text">
						<div>
							<img src="images/trade_3.png" alt="technics">
							<h2>ПРОГРАММА</h2>
							<p>Если Вы решили обновить свой сайт или интернет-магазин, то программа трейд-ин именно то, что Вам нужно.Благодаря данной программе, Вы сможете приобрести новый сайт с минимальными вложениями, при этом утилизировав старый. Вам лишь нужно связаться с нашим отделом трейд-ин по телефону 8 (499) 390 6083, отправить письмо на адрес www@trofimov.org, либо разместить заявку на сайте.</p>
						</div>
						<div>
							<img src="images/trade_1.png" alt="science">
							<h2>ПРОЦЕСС РАБОТЫ</h2>
							<p>Мы делаем предварительную оценку, параллельно, с Вами согласовываем веб интерфейс и систему управления, и если Вас все устраивает, заключаем договор. При этом Вам не придется останавливать работу в интернете, так как передача Вашего сайта осуществляется только после разработки нового. Тем самым Вы экономите не только время, но и деньги.</p>
						</div>
						<div>
							<img src="images/trade_2.png" alt="diamont">
							<h2>УСЛОВИЯ</h2>
							<p>Вам нужно предоставить максимум информации о предоставляемом интернет-проекте, которое Вы хотите обновить.Данная информация поможет нам в кратчайшие сроки рассмотреть Ваш запрос и дать положительный ответ. Для этого, убедительно просим Вас, присылать информацию на Вашем фирменном бланке с печатью, а так же фотографии домена и хостинга.</p>
						</div>
					</div>
					<button>ОЦЕНИТЬ МОЙ САЙТ</button>
				</div>
			</div>
		</section>
		<section id="section_11">
			<div class="s11_wrap">
				<h1>BE CAREFUL</h1>
				<div class="s11_left">
					<h2>ЗАБОТА О КАЖДОМ</h2>
					<p>Рожденный в нашей студии проект обречен на пожизненную поддержку. Мы обучим вас ведению сайта, обновим контент и настроим продвижение в любой момент. Каждая деталь вашего бизнеса является состовляющим звеном нашей студии. И мы позаботимся о вас.</p>
				</div>
				<div class="s11_right">
					<img src="images/pc_vs_phone.jpg" alt="pc_vs_phone">
				</div>
			</div>
		</section>
	</main>
	<footer id="footer">
		<div class="bg-blue">
			<div class="foot_wrap">
				<div class="foot_left">
					<h2>СВЯЖИТЕСЬ С НАМИ</h2>
					<p>Готовы начать работу? Отправьте сообщение и свои контакты, мы ответим вам в течении 2-ух дней. Схема работы с каждым клиентом будет разработана индивидуально в зависимости от поставленных задач.</p>
				</div>
				<div class="foot_right">
					<input type="text" placeholder="Ваше имя">
					<input type="text" placeholder="Ваша фамилия">
					<input type="text" placeholder="E-mail">
					<textarea placeholder="Введите ваше сообщение"></textarea>
					<p>Наши специалисты свяжутся с вами как можно скорее</p>
					<button>ОТПРАВИТЬ</button>
				</div>
			</div>
		</div>
	</footer>
	<div class="underFoot-line">
		<div class="under-wrap">
			<p>© 2014-2016 Все права защищены, WebMonsters</p>
			<div class="underFoot-right">
				<button>ЗАКАЗАТЬ ЗВОНОК</button>
				<h4>Хотите мы вам перезвоним? Жмите!</h4>
			</div>
		</div>
	</div>
	<!-- JS -->
	<script src="js/jquery-3.1.1.min.js"></script>
	<script src="js/script.js"></script>
</body>
</html>