<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="utf-8">
	<title>Minon</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="min">

	<!-- Голова -->
		<div class="head">
	<!-- Лямки очков -->
			<div class="lki_l">
				<div class="bb"></div>
				<div class="bb"></div>
			</div>
			<div class="lki_r">
				<div class="bb"></div>
				<div class="bb"></div>
			</div>
	<!-- Волосы -->
			<div class="hair1"></div>
			<div class="hair2"></div>
			<div class="hair3"></div>
	<!-- Очки -->
			<div class="glas">
				<div class="rim_left"></div>
				<div class="rim_right"></div>
	<!-- Левый глаз -->
				<div class="eye_left">
					<div class="eyeball">
						<div class="w"></div>
						<div class="eye">
							<div class="black">
								<div class="white"></div>
							</div>
						</div>
					</div>
				</div>
	<!-- Правый глаз -->
				<div class="eye_right">
					<div class="eyeball">
						<div class="w"></div>
						<div class="eye">
							<div class="black">
								<div class="white"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
	<!-- Рот -->
			<div class="mouse">
				<div class="lips"></div>
				<div class="teeth_up">
					<div class="t"></div>
					<div class="t"></div>
					<div class="t"></div>
					<div class="t"></div>
				</div>
				<div class="teeth_down">
					<div class="t"></div>
					<div class="t"></div>
					<div class="t"></div>
					<div class="t"></div>
				</div>
			</div>
		</div>

	<!-- Тело -->
		<div class="body">
	<!-- Карман и лого -->
			<div class="kar">
				<div class="circle">
					<div class="kvad">
						<div class="cir">
							<div class="blue"></div>
						</div>
					</div>
				</div>
			</div>
	<!-- Левая рука -->
			<div class="a_left">
				<div class="harness_left">
					<div class="but">
						<div class="vartikal"></div>
						<div class="horizontall"></div>
					</div>
				</div>
				<div class="arm_l"></div>
				<div class="elbow_l">
					<div class="wrist_l">
						<div class="banan"></div>
					</div>
				</div>
			</div>
	<!-- Правая рука -->
			<div class="a_right">
				<div class="harness_right">
					<div class="but">
						<div class="vartikal"></div>
						<div class="horizontall"></div>
					</div>
				</div>
				<div class="arm_r"></div>
				<div class="elbow_r">
					<div class="wrist_r"></div>
				</div>
			</div>
		</div>
	
	<!-- Ноги -->
		<div class="legs">
			<div class="left_leg">
				<div class="boot">
					<div class="pod"></div>
				</div>
			</div>
			<div class="right_leg">
				<div class="boot">
					<div class="pod"></div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>