/* Reset and box-model */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style-type: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  -webkit-text-size-adjust: none; }

button {
  cursor: pointer; }

button:active, button:focus, textarea:focus {
  outline: 0; }

[hidden] {
  display: none; }

.hidden {
  height: 0;
  overflow: hidden; }

a {
  text-decoration: none; }

/* Variables, mixin and classes */
/* Colors */
/* Fonts */
.container {
  position: relative;
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto; }

.row {
  margin-right: -15px;
  margin-left: -15px; }

.row:after {
  display: table;
  content: '';
  clear: both; }

.text--light {
  font-weight: 300 !important; }

.text--regular {
  font-weight: 400 !important; }

.text--extra-bold {
  font-weight: 800 !important; }

button.btn--read-more {
  font-weight: 600;
  line-height: 30px;
  font-size: 18px;
  width: 150px;
  height: 48px;
  border: 0;
  -webkit-transition: all 0.45s;
  transition: all 0.45s;
  background-color: transparent;
  color: #999999;
  border: 2px solid #cccccc;
  -webkit-border-radius: 24px;
  border-radius: 24px; }

button.btn--read-more:hover {
  color: #ffffff;
  background: #0169b4;
  border-color: #0169b4;
  -webkit-box-shadow: 0px 0px 15px 2px rgba(1, 105, 180, 0.45);
  box-shadow: 0px 0px 15px 2px rgba(1, 105, 180, 0.45); }

/* Objects */
.logo-wrap {
  float: left;
  font-family: "Montserrat", sans-serif; }
  .logo-wrap a, .logo-wrap img, .logo-wrap span {
    display: inline-block; }
  .logo-wrap img, .logo-wrap span {
    vertical-align: middle; }
  .logo-wrap span {
    color: #ffffff;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 32px;
    margin-left: 27px; }
  .logo-wrap span:last-child {
    margin-left: 14px; }

.nav-menu {
  float: right;
  text-align: right;
  font-family: "Montserrat", sans-serif; }
  .nav-menu ul li {
    display: inline-block;
    vertical-align: top;
    margin-left: 56px; }
    .nav-menu ul li a {
      position: relative;
      text-transform: uppercase;
      font-family: inherit;
      font-weight: 400;
      font-size: 16px;
      color: #ffffff; }
    .nav-menu ul li a:after {
      -webkit-transition: width .35s;
      transition: width .35s;
      content: '';
      position: absolute;
      width: 0;
      height: 2px;
      background-color: #ffffff;
      bottom: -6px;
      left: 0; }
    .nav-menu ul li a:hover:after,
    .nav-menu ul li a.active:after {
      width: 100%; }
  .nav-menu ul li:first-of-type {
    margin-left: 0; }

.burger-menu {
  display: none;
  float: right;
  position: relative;
  text-align: center;
  width: 30px;
  margin: 7px 0 0;
  cursor: pointer; }

.burger--line {
  width: 27px;
  height: 4px;
  background-color: #ffffff;
  margin: 0 auto 5px; }

/* Main styles */
body {
  position: relative;
  color: #ffffff;
  line-height: 30px;
  background: #f5f5f5; }

.header {
  display: block;
  background-image: url("../images/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 867px;
  padding: 113px 0; }

.header-text {
  font-family: "Raleway", sans-serif;
  margin-top: 170px;
  width: 530px; }
  .header-text h1 {
    text-transform: uppercase;
    line-height: 75px;
    font-size: 48px; }

.main-page--section {
  font-family: "Raleway", sans-serif; }
  .main-page--section h2 {
    color: #0169b4;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 50px; }

.main-page--work-process {
  text-align: center; }

.work-process--item {
  position: relative;
  top: -200px;
  font-family: Raleway;
  display: inline-block;
  vertical-align: top;
  background-color: #ffffff;
  -webkit-transition: box-shadow 0.45s;
  -webkit-transition: -webkit-box-shadow 0.45s;
  transition: -webkit-box-shadow 0.45s;
  transition: box-shadow 0.45s;
  transition: box-shadow 0.45s, -webkit-box-shadow 0.45s;
  width: 365px;
  height: 625px;
  max-height: 625px;
  padding: 70px 30px; }
  .work-process--item div img {
    height: 99px;
    -webkit-transition: all 0.65s;
    transition: all 0.65s;
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg); }
  .work-process--item h2 {
    margin: 40px 0 50px;
    font-weight: 700;
    line-height: 34px;
    font-size: 30px;
    color: #666666; }
  .work-process--item p {
    line-height: 30px;
    font-size: 18px;
    font-weight: 500;
    color: #878787;
    margin-bottom: 50px; }

.work-process--item-center {
  margin: 0 30px; }

.work-process--item:hover {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25); }
  .work-process--item:hover div img {
    -webkit-transform: rotateY(0);
    transform: rotateY(0); }

.main-page--card-section {
  margin-bottom: 160px; }

.card--info, .carg--image {
  float: left;
  width: 50%; }

.card--info {
  padding: 50px 50px 0 0;
  font-family: "Raleway", sans-serif;
  line-height: 30px; }
  .card--info p {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 40px;
    color: #666666; }
  .card--info a {
    display: inline-block; }

.carg--image {
  line-height: 0; }
  .carg--image img {
    width: 100%; }

.main-page--slider-section {
  margin-bottom: 0 !important; }

.slider-wrapper {
  height: 480px;
  position: relative;
  z-index: 50;
  overflow: hidden; }

.slick-list,
.slick-track,
.slider-item {
  height: 100%; }

.slider-item {
  float: left;
  width: 25%; }
  .slider-item img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%; }

.slick-arrow:focus,
.slider-item:focus {
  outline: 0; }

.slick-arrow {
  opacity: .7;
  -webkit-transition: opacity .35s;
  transition: opacity .35s;
  position: absolute;
  top: 41%;
  z-index: 1000;
  background-color: transparent;
  border: 0; }

.slick-arrow:hover {
  opacity: 1; }

.slick-prev {
  left: 50px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.slick-next {
  right: 50px; }

.footer {
  background: #0169b4;
  padding: 65px 0 50px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #ffffff; }
  .footer p {
    font-weight: 300;
    font-size: 14px; }
    .footer p a {
      color: inherit; }
    .footer p a:hover {
      text-decoration: underline; }
  .footer p:first-child {
    margin-bottom: 45px; }

.socials {
  margin-top: 75px; }
  .socials a {
    color: inherit;
    display: inline-block;
    margin: 0 25px;
    -webkit-transition: transform 0.35s;
    -webkit-transition: -webkit-transform 0.35s;
    transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    transition: transform 0.35s, -webkit-transform 0.35s; }
    .socials a i {
      color: inherit;
      font-size: 30px; }
  .socials a:hover {
    -webkit-transform: scale(1.15);
        -ms-transform: scale(1.15);
            transform: scale(1.15); }

/* Responsive */
@media screen and (max-width: 1246px) {
  .container {
    width: 970px; }
  .work-process--item {
    width: 310px;
    padding: 70px 20px; }
  .work-process--item-center {
    margin: 0 15px; }
  .card--info {
    padding-top: 0; } }

@media screen and (max-width: 1025px) {
  .container {
    width: 750px; }
  .header {
    height: 750px; }
  .work-process--item-center {
    margin: 0; }
  .work-process--item,
  .card--info, .carg--image,
  .header-text {
    width: 100%; }
  .header-text,
  .main-page--section h2 {
    text-align: center; }
  .work-process--item {
    padding: 40px 30px;
    margin: 0 auto 30px;
    height: auto;
    top: 0; }
  .work-process--item:last-of-type {
    margin-bottom: 0; }
  .main-page--work-process {
    margin: 80px 0; }
  .card--info, .carg--image {
    float: none; }
  .card--info {
    margin-bottom: 50px;
    padding-right: 0;
    text-align: center; }
  .nav-menu ul li {
    margin-left: 20px; }
  .logo-wrap {
    position: relative;
    top: -7px; }
    .logo-wrap span {
      font-size: 25px;
      margin-left: 15px; }
  .slick-prev {
    left: 10px; }
  .slick-next {
    right: 10px; }
  .footer {
    padding: 40px 0; }
    .footer p:first-child {
      margin-bottom: 10px; }
  .socials {
    margin-top: 25px; }
    .socials a {
      margin: 0px 20px; } }

@media screen and (max-width: 810px) {
  .container {
    width: 100%; }
  .main-page--section {
    margin: 80px 0; }
  .row {
    margin-right: 0px;
    margin-left: 0px; }
  .header {
    height: auto;
    padding: 50px 0;
    background-size: auto; }
  .logo-wrap {
    position: relative;
    top: -5px; }
  .nav-menu {
    display: none; }
  .burger-menu {
    display: block; }
  .header-text {
    margin-top: 100px; }
  .nav-menu {
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 15px;
    width: 100%; }
    .nav-menu ul {
      padding: 5px 15px 0; }
      .nav-menu ul li {
        margin-left: 0;
        margin-bottom: 5px;
        width: 100%; }
        .nav-menu ul li a {
          font-size: 19px; }
        .nav-menu ul li a:after {
          display: none; } }

@media screen and (max-width: 550px) {
  .slider-wrapper {
    height: 400px; }
  .header-text {
    margin-top: 100px; }
    .header-text h1 {
      font-size: 38px;
      line-height: 55px; } }

@media screen and (max-width: 450px) {
  .socials a {
    margin: 0px 15px; }
  .header-text {
    margin-top: 100px; }
    .header-text h1 {
      font-size: 34px; } }

@media screen and (max-width: 400px) {
  .logo-wrap {
    top: 0; }
    .logo-wrap img {
      width: 45px;
      height: 35px; }
    .logo-wrap span, .logo-wrap span:last-child {
      margin-left: 5px; }
  .main-page--section h2 {
    line-height: 50px; } }
