<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="font/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="slick/slick.css"/>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<title>Studio</title>
</head>
<body>
	<header id="header">
		<div class="container">
			<div class="row head-wrap">
				<span class="logo"><b>S</b>mart</span>
				<div class="menu">
					<nav id="nav_menu">
						<a href="#s1">Work Process</a>
						<a href="#s2">Featured Works</a>
						<a href="#s3">Services</a>
						<a href="#s4">Our Team</a>
						<a href="#slider">Reviews</a>
					</nav>
					<div class="tr"></div>
					<div class="tr tr-middle"></div>
					<div class="tr"></div>
				</div>
			</div>
			<div class="row head-text">
				<h1><b>Smart</b> Agency Landign Page</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, fuga provident. Libero magni quibusdam labore ad iste saepe hic, maxime qui ipsum tempore beatae, volu tomi ptates        doloremque rerum aspernatur dolorum at!</p>
			</div>
			<div class="row send-message">
				<form>
					<h4><b>Send</b> A Message</h4>
					<input type="text" placeholder="Your Name">
					<input type="text" placeholder="Your Email">
					<textarea cols="30" rows="10" placeholder="Your Message"></textarea>
					<button>Send Message<img src="i/send_arr.png" alt="arr"></button>
				</form>
			</div>
		</div>
	</header>
	<main id="main">
		<section id="s1">
			<div class="container">
				<div class="s1-text row">
					<h1><b>Working</b> Process</h1>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit Maiores fuga provident Libero.</p>
				</div>
				<div class="row color-boxes">
					<div class="col-box sky">
						<img src="i/s1_img1.png" alt="magnit">
						<h4>Koc Koi Tomi</h4>
						<p>Lorem ipsum is dummy lorem very dumy</p>
						<div class="white-ellipse">
							<img src="i/plus.png" alt="plus"><span>Know More</span>
						</div>
					</div>
					<div class="col-box purple">
						<img src="i/s1_img2.png" alt="bug">
						<h4>Koimona Set</h4>
						<p>Lorem ipsum is dummy lorem very dumy</p>
						<div class="white-ellipse">
							<img src="i/plus.png" alt="plus"><span>Know More</span>
						</div>
					</div>
					<div class="col-box blue">
						<img src="i/s1_img3.png" alt="settings">
						<h4>Setting Koire</h4>
						<p>Lorem ipsum is dummy lorem very dumy</p>
						<div class="white-ellipse">
							<img src="i/plus.png" alt="plus"><span>Know More</span>
						</div>
					</div>
					<div class="col-box pink">
						<img src="i/s1_img4.png" alt="kamera">
						<h4>Ko Image Lara</h4>
						<p>Lorem ipsum is dummy lorem very dumy</p>
						<div class="white-ellipse">
							<img src="i/plus.png" alt="plus"><span>Know More</span>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="s2">
			<div class="container">
				<div class="s2-text row">
					<h1><b>Featured</b> Works</h1>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit Maiores fuga provident Libero.</p>
				</div>
				<div class="gallery row">
					<div class="gall_1">
						<div title="Our First work"></div>
						<div title="Our Second work"></div>
						<div title="Our Third work"></div>
					</div>
					<div class="gall_2">
						<div title="Our Fourth work"></div>
						<div title="Our Fifth work"></div>
						<div title="Our Sixth work"></div>
					</div>
					<div class="gall_3">
						<div title="Our Seventh work"></div>
						<div title="Our Eighth work"></div>
						<div title="Our Ninth work"></div>
					</div>
				</div>
			</div>
		</section>
		<section id="s3">
			<div class="container">
				<div class="s3-text row">
					<h1><b>Services</b> We Provide</h1>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit Maiores fuga provident Libero.</p>
				</div>
				<div class="row services">
					<div class="services-img">
						<div id="serv_1">
							<img src="i/s3_img1.png" alt="services">
						</div>
						<div id="serv_2">
							<img src="i/s3_img2.png" alt="services">
						</div>
						<div id="serv_3">
							<img src="i/s3_img3.png" alt="services">
						</div>
						<div id="serv_4">
							<img src="i/s3_img1.png" alt="services">
						</div>
					</div>
					<div class="s3-text-center">
						<h3 id="change_text">Modern App Design</h3>
						<span class="orange-line"></span>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus earum totam ad sint error porro. Consectetur, sunt, aperiam. Magni rem optio distinctio illum consequuntur delectus nulla illo aperiam itaque cumque.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel officia vitae eveniet quam rem unde facilis.</p>
						<p>Vitae eveniet quam rem unde facilis.</p>
						<button><img src="i/plus.png" alt="plus">Know More</button>
					</div>
					<img src="i/apple-watch.png" alt="apple-watch">
				</div>
			</div>
		</section>
		<section id="s4">
			<div class="container">
				<div class="s4-text row">
					<h1><b>Team</b> Chinen & Skills</h1>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit Maiores fuga provident Libero.</p>
				</div>
				<div class="team">
					<div class="team-item worker1">
						<div class="skils">
							<p>UI/UX  Design</p>
							<div>
								<span></span>
							</div>
							<p>English</p>
							<div>
								<span></span>
							</div>
							<p>Communication</p>
							<div>
								<span></span>
							</div>
						</div>
						<div class="hover-box">
							<h4>Bedi Manos</h4>
							<p>UI/UX Parena</p>
							<div class="social-hover">
								<a href="#"><img src="i/s4_soc1.png" alt="social"></a>
								<a href="#"><img src="i/s4_soc2.png" alt="social"></a>
								<a href="#"><img src="i/s4_soc1.png" alt="social"></a>
							</div>
						</div>
					</div>
					<div class="team-item worker2">
						<div class="skils">
							<p>UI/UX  Design</p>
							<div>
								<span></span>
							</div>
							<p>English</p>
							<div>
								<span></span>
							</div>
							<p>Communication</p>
							<div>
								<span></span>
							</div>
						</div>
						<div class="hover-box">
							<h4>Al Rayhan</h4>
							<p>UI/UX Designer</p>
							<div class="social-hover">
								<a href="#"><img src="i/s4_soc1.png" alt="social"></a>
								<a href="#"><img src="i/s4_soc2.png" alt="social"></a>
								<a href="#"><img src="i/s4_soc1.png" alt="social"></a>
							</div>
						</div>
					</div>
					<div class="team-item worker3">
						<div class="skils">
							<p>UI/UX  Design</p>
							<div>
								<span></span>
							</div>
							<p>English</p>
							<div>
								<span></span>
							</div>
							<p>Communication</p>
							<div>
								<span></span>
							</div>
						</div>
						<div class="hover-box">
							<h4>Ali Sayed</h4>
							<p>UI/UX Designer</p>
							<div class="social-hover">
								<a href="#"><img src="i/s4_soc1.png" alt="social"></a>
								<a href="#"><img src="i/s4_soc2.png" alt="social"></a>
								<a href="#"><img src="i/s4_soc1.png" alt="social"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="s5">
			<div class="container">
				<div class="s5-text row">
					<h1><b>Clients</b> Said</h1>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit Maiores fuga provident Libero.</p>
				</div>
				<div id="slider">
					<div class="slider-item">
						<div class="s5-text-slid">
							<div class="clients client1"></div>
							<p>“This was my first time renting from car rental. The service rep help me find the best rental to suit my needs. I will definitely rent with this company again”</p>
							<span>
								<img src="i/star.png" alt="star">
								<img src="i/star.png" alt="star">
								<img src="i/star.png" alt="star">
								<img src="i/star.png" alt="star">
								<img src="i/star.png" alt="star">
							</span>
							<h4><b>Kit Say,</b> HK Director</h4>
						</div>
						<div class="s5-text-slid">
							<div class="clients client2"></div>
							<p>“This was my first time renting from car rental. The service rep help me find the best rental to suit my needs. I will definitely rent with this company again”</p>
							<span>
								<img src="i/star.png" alt="star">
								<img src="i/star.png" alt="star">
								<img src="i/star.png" alt="star">
								<img src="i/star.png" alt="star">
								<img src="i/star.png" alt="star">
							</span>
							<h4><b>Al Rayhan,</b> UX Director</h4>
						</div>
					</div>
					<div class="slider-item">
						<div class="s5-text-slid">
							<div class="clients client1"></div>
							<p>“This was my first time renting from car rental. The service rep help me find the best rental to suit my needs. I will definitely rent with this company again”</p>
							<span>
								<img src="i/star.png" alt="star">
								<img src="i/star.png" alt="star">
								<img src="i/star.png" alt="star">
								<img src="i/star.png" alt="star">
								<img src="i/star.png" alt="star">
							</span>
							<h4><b>Kit Say,</b> HK Director</h4>
						</div>
						<div class="s5-text-slid">
							<div class="clients client2"></div>
							<p>“This was my first time renting from car rental. The service rep help me find the best rental to suit my needs. I will definitely rent with this company again”</p>
							<span>
								<img src="i/star.png" alt="star">
								<img src="i/star.png" alt="star">
								<img src="i/star.png" alt="star">
								<img src="i/star.png" alt="star">
								<img src="i/star.png" alt="star">
							</span>
							<h4><b>Al Rayhan,</b> UX Director</h4>
						</div>
					</div>
					<div class="slider-item">
						<div class="s5-text-slid">
							<div class="clients client1"></div>
							<p>“This was my first time renting from car rental. The service rep help me find the best rental to suit my needs. I will definitely rent with this company again”</p>
							<span>
								<img src="i/star.png" alt="star">
								<img src="i/star.png" alt="star">
								<img src="i/star.png" alt="star">
								<img src="i/star.png" alt="star">
								<img src="i/star.png" alt="star">
							</span>
							<h4><b>Kit Say,</b> HK Director</h4>
						</div>
						<div class="s5-text-slid">
							<div class="clients client2"></div>
							<p>“This was my first time renting from car rental. The service rep help me find the best rental to suit my needs. I will definitely rent with this company again”</p>
							<span>
								<img src="i/star.png" alt="star">
								<img src="i/star.png" alt="star">
								<img src="i/star.png" alt="star">
								<img src="i/star.png" alt="star">
								<img src="i/star.png" alt="star">
							</span>
							<h4><b>Al Rayhan,</b> UX Director</h4>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="s6">
			<div class="container">
				<div class="row logo-group">
					<div class="logo-foot log1"></div>
					<div class="logo-foot log2"></div>
					<div class="logo-foot log3"></div>
					<div class="logo-foot log4"></div>
					<div class="logo-foot log5"></div>
					<div class="logo-foot log6"></div>
				</div>
			</div>
		</section>
	</main>
	<footer id="footer">
		<button>Contact Us</button>
		<span>
			<div>
				<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
			</div>
			<div>
				<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
			</div>
			<div>
				<a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
			</div>
			<div>
				<a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
			</div>
			<p>© 2015 - 2016 Deviserweb Ltd.</p>
		</span>
	</footer>
<!-- JS -->
	<script src="js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="slick/slick.min.js"></script>
	<script src="js/script.js"></script>
</body>
</html>