/* Fonts */
/* Arial */
@font-face {
  font-family: "ArialRegular";
  src: url("../fonts/ArialRegular/ArialRegular.eot");
  src: url("../fonts/ArialRegular/ArialRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/ArialRegular/ArialRegular.woff") format("woff"), url("../fonts/ArialRegular/ArialRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "ArialItalic";
  src: url("../fonts/ArialItalic/ArialItalic.eot");
  src: url("../fonts/ArialItalic/ArialItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/ArialItalic/ArialItalic.woff") format("woff"), url("../fonts/ArialItalic/ArialItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "ArialBold";
  src: url("../fonts/ArialBold/ArialBold.eot");
  src: url("../fonts/ArialBold/ArialBold.eot?#iefix") format("embedded-opentype"), url("../fonts/ArialBold/ArialBold.woff") format("woff"), url("../fonts/ArialBold/ArialBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "ArialBlack";
  src: url("../fonts/ArialBlack/ArialBlack.eot");
  src: url("../fonts/ArialBlack/ArialBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/ArialBlack/ArialBlack.woff") format("woff"), url("../fonts/ArialBlack/ArialBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* Century Gothic */
@font-face {
  font-family: "CenturyGothicRegular";
  src: url("../fonts/CenturyGothicRegular/gothic-regular.eot");
  src: url("../fonts/CenturyGothicRegular/gothic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/CenturyGothicRegular/gothic-regular.woff") format("woff"), url("../fonts/CenturyGothicRegular/gothic-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "CenturyGothicBold";
  src: url("../fonts/CenturyGothicBold/CenturyGothicBold.eot");
  src: url("../fonts/CenturyGothicBold/CenturyGothicBold.eot?#iefix") format("embedded-opentype"), url("../fonts/CenturyGothicBold/CenturyGothicBold.woff") format("woff"), url("../fonts/CenturyGothicBold/CenturyGothicBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* Utility */
/* Box model */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  -webkit-text-size-adjust: none; }

button {
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer; }

textarea:focus,
button:focus,
input:focus {
  outline: 0; }

a {
  color: inherit;
  text-decoration: none; }

/* Colors */
/* Fonts */
.main-wrapper {
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
  padding: 10px 0 54px 0; }

.container {
  width: 1200px;
  padding: 0 20px; }

.container:after,
.clearfix:after {
  display: table;
  content: '';
  clear: both; }

/* Img sprites */
.arr--dropdown {
  background-image: url("../images/sprites/icons-sprite.png");
  background-repeat: no-repeat;
  display: inline-block;
  background-position: -6px -20px;
  width: 13px;
  height: 12px; }

.arr-blue {
  background-image: url("../images/sprites/icons-sprite.png");
  background-repeat: no-repeat;
  background-position: -92px -20px;
  width: 19px;
  height: 12px; }

/* Background's mix */
.cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

/* Float's */
.float--right {
  float: right; }

.float--left {
  float: left; }

/* Placeholder */
.placeholder-focus-opacity::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.28s ease;
  transition: opacity 0.28s ease; }

.placeholder-focus-opacity::-moz-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.28s ease;
  transition: opacity 0.28s ease; }

.placeholder-focus-opacity:-moz-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.28s ease;
  transition: opacity 0.28s ease; }

.placeholder-focus-opacity:-ms-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.28s ease;
  transition: opacity 0.28s ease; }

.placeholder-focus-opacity:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.28s ease;
  transition: opacity 0.28s ease; }

.placeholder-focus-opacity:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.28s ease;
  transition: opacity 0.28s ease; }

.placeholder-focus-opacity:focus:-moz-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.28s ease;
  transition: opacity 0.28s ease; }

.placeholder-focus-opacity:focus:-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.28s ease;
  transition: opacity 0.28s ease; }

/* Text shadow */
.text-shadow--white {
  text-shadow: 0px 1px 1px #ffffff; }

/* Add margin */
.mt--15 {
  margin-top: 15px; }

.mb--15 {
  margin-bottom: 15px; }

.mb--20 {
  margin-bottom: 20px; }

/* <hr> Grey line */
hr.grey--line {
  background: #e6e6e6;
  width: 1160px;
  border: 0;
  height: 1px;
  margin: 35px auto;
  display: block; }

.absolute--grey-line:after {
  content: '';
  position: absolute;
  z-index: 10;
  background: white;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, white), color-stop(29%, #e2e2e2), color-stop(74%, #e2e2e2), color-stop(100%, white));
  background: -webkit-linear-gradient(top, white 0%, #e2e2e2 29%, #e2e2e2 74%, white 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(29%, #e2e2e2), color-stop(74%, #e2e2e2), to(white));
  background: linear-gradient(to bottom, white 0%, #e2e2e2 29%, #e2e2e2 74%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 ); }

/* Objects */
html {
  font-size: 75%; }

body {
  width: 100%;
  height: 100%;
  position: relative;
  font: 125%/1.5 "ArialRegular";
  color: #333333;
  background-color: grey; }

.logo-wrap {
  display: inline-block;
  margin-right: 50px; }

.logo-img {
  background-image: url("../images/sprites/icons-sprite.png");
  background-repeat: no-repeat;
  background-position: -6px -125px;
  width: 174px;
  height: 79px; }

.nav--main-menu {
  width: 100%;
  max-height: 56px; }
  .nav--main-menu a {
    text-decoration: underline;
    margin-left: 12px;
    color: #105a8f;
    font-size: 13px;
    line-height: 16px; }
    .nav--main-menu a:first-child {
      margin-left: 0; }
    .nav--main-menu a:hover {
      color: #d10000; }

.nav--main-menu--copy {
  position: relative;
  z-index: 6000;
  width: 100%;
  height: 0px;
  background: #08578b;
  margin-top: 28px;
  text-align: center;
  max-height: none;
  padding: 0;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  overflow: hidden;
  -webkit-border-top-left-radius: 0;
          border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
          border-top-right-radius: 0; }
  .nav--main-menu--copy a {
    margin: 0;
    text-shadow: none;
    padding: 5px 0;
    display: block;
    color: #ffffff; }
    .nav--main-menu--copy a:hover {
      color: #ffffff; }

.nav--main-menu--copy.open {
  padding: 10px 0;
  height: auto; }

a.ask--help {
  position: relative;
  padding-left: 17px; }

a.ask--help:before {
  width: 15px;
  height: 15px;
  content: '';
  background-image: url("../images/sprites/icons-sprite.png");
  background-repeat: no-repeat;
  background-position: -153px -20px;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0; }

.nav--category {
  color: #ffffff;
  height: 56px;
  background: #186ca3;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #186ca3), color-stop(39%, #0d5d90), color-stop(74%, #064d7d), color-stop(100%, #095d94));
  background: -webkit-linear-gradient(top, #186ca3 0%, #0d5d90 39%, #064d7d 74%, #095d94 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#186ca3), color-stop(39%, #0d5d90), color-stop(74%, #064d7d), to(#095d94));
  background: linear-gradient(to bottom, #186ca3 0%, #0d5d90 39%, #064d7d 74%, #095d94 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#186ca3', endColorstr='#095d94', GradientType=0 );
  border-top: 1px solid #246188;
  border-bottom: 1px solid #246188;
  -webkit-border-radius: 6px;
          border-radius: 6px; }
  .nav--category ul {
    width: 100%;
    display: table;
    list-style-type: none; }
    .nav--category ul li {
      cursor: pointer;
      width: 16.666666%;
      float: left;
      height: 54px;
      display: table-cell;
      -webkit-box-shadow: inset 1px 1px 0px 0px rgba(235, 235, 235, 0.3), inset 0px -1px 0px 0px rgba(235, 235, 235, 0.3);
              box-shadow: inset 1px 1px 0px 0px rgba(235, 235, 235, 0.3), inset 0px -1px 0px 0px rgba(235, 235, 235, 0.3); }

.menu-category--item {
  padding: 0 10px 0 30px;
  color: inherit;
  border-right: 1px solid #246188; }
  .menu-category--item a {
    font: 15px/18px "ArialBold";
    padding: 9px 0; }

.menu-dropdown--arr {
  vertical-align: middle;
  float: right;
  margin: 21px 0; }

.menu-category--item:last-of-type {
  border-right: 0; }

.menu-category--link {
  display: inline-block;
  vertical-align: middle;
  float: left;
  width: 115px;
  max-width: 115px; }

.menu-category--dropdown {
  display: none; }

.btn--dotted-line {
  display: inline-block;
  position: relative;
  padding: 0;
  font-size: 13px;
  line-height: 17px;
  color: #105a8f;
  border-bottom: 1px dashed #105a8f; }

.btn--dotted-line:hover {
  border-style: solid; }

/* For buttons and inputs */
.border--italic {
  -webkit-box-shadow: inset 2px 2px 0px 0px #ebebeb;
  box-shadow: inset 2px 2px 0px 0px #ebebeb;
  border: 1px solid #c4c4c4;
  -webkit-border-radius: 100px 0 95px 0/190px 0 200px 0;
          border-radius: 100px 0 95px 0/190px 0 200px 0; }

/* btn gradient */
.btn--grey-gradient {
  display: inline-block; }
  .btn--grey-gradient button {
    border: 1px solid #c4c4c4;
    -webkit-border-radius: 100px 0 95px 0/190px 0 200px 0;
            border-radius: 100px 0 95px 0/190px 0 200px 0;
    background: white;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, white), color-stop(21%, #f8f8f8), color-stop(54%, #e9e9e9), color-stop(100%, white));
    background: -webkit-linear-gradient(top, white 0%, #f8f8f8 21%, #e9e9e9 54%, white 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(21%, #f8f8f8), color-stop(54%, #e9e9e9), to(white));
    background: linear-gradient(to bottom, white 0%, #f8f8f8 21%, #e9e9e9 54%, white 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
    height: 27px;
    padding: 0 10px; }
    .btn--grey-gradient button span:first-child {
      margin-right: 6px;
      color: #105a8f;
      font-family: "ArialBold";
      border-bottom: 1px solid #105a8f; }
    .btn--grey-gradient button span {
      font-size: 15px;
      line-height: 17px;
      display: inline-block;
      vertical-align: middle; }
  .btn--grey-gradient button:hover {
    background: #ececec; }

.nav--menu-burger {
  background: #ffffff;
  cursor: pointer;
  width: 28px;
  height: 24px;
  border: 1px solid #0c4871;
  display: none;
  position: relative;
  top: -1px;
  -webkit-border-radius: 3px;
          border-radius: 3px; }

.nav--menu-burger.open .burger-line {
  position: relative; }

.nav--menu-burger.open .burger-line--1 {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 6px; }

.nav--menu-burger.open .burger-line--2 {
  opacity: 0; }

.nav--menu-burger.open .burger-line--3 {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 6px; }

.nav--menu-burger--grey {
  border-color: #a9a9a9; }

.burger-line {
  -webkit-transition: all .3s;
  transition: all .3s;
  display: block;
  width: 16px;
  height: 4px;
  margin: 0 auto 2px;
  background-color: #a9a9a9; }

.burger-line--1 {
  margin-top: 3px; }

/* Main styles */
header {
  background: white;
  background: -webkit-gradient(left top, left bottom, color-stop(43%, white), color-stop(53%, #f8f8f8), color-stop(80%, #e8e8e8), color-stop(100%, #f6f6f6), color-stop(100%, white));
  background: -webkit-linear-gradient(top, white 43%, #f8f8f8 53%, #e8e8e8 80%, rgba(246, 246, 246, 0.5) 100%, white 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(43%, white), color-stop(53%, #f8f8f8), color-stop(80%, #e8e8e8), color-stop(100%, rgba(246, 246, 246, 0.5)), to(white));
  background: linear-gradient(to bottom, white 43%, #f8f8f8 53%, #e8e8e8 80%, rgba(246, 246, 246, 0.5) 100%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 ); }

/* Callback */
.callback-search--wrap {
  display: inline-block;
  vertical-align: top;
  line-height: 45px;
  max-width: 341px;
  margin-right: 120px; }

.callback--wrap {
  position: relative;
  top: 0;
  left: 20px;
  margin-bottom: 10px; }
  .callback--wrap .btn--dotted-line {
    font-style: italic;
    vertical-align: top;
    margin-left: 10px; }

.callback--number {
  color: #333333;
  display: inline-block; }
  .callback--number span {
    line-height: 21.5px;
    font-style: italic; }
    .callback--number span:first-child {
      font-size: 23px;
      font-family: "ArialRegular"; }
    .callback--number span:last-child {
      font-size: 34px;
      font-family: "ArialBold"; }

/* Search */
.search--wrap {
  position: relative;
  line-height: 26px;
  /* Firefox 19+ */
  /* Firefox 18- */ }
  .search--wrap input {
    display: inline-block;
    font: 15px "ArialItalic";
    width: 100%;
    height: 26px;
    padding: 0 55px 0 15px; }
  .search--wrap input::-webkit-input-placeholder {
    color: #999999; }
  .search--wrap input::-moz-placeholder {
    color: #999999; }
  .search--wrap input:-moz-placeholder {
    color: #999999; }
  .search--wrap input:-ms-input-placeholder {
    color: #999999; }

.btn--search {
  background-image: url("../images/sprites/icons-sprite.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 3px;
  right: 0;
  background-position: -176px -22px;
  width: 55px;
  height: 21px; }

/* Help online block */
.help--online {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  width: 86px;
  height: 88px;
  border: 1px solid #6cbe68;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  text-align: center;
  background: white;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, white), color-stop(31%, white), color-stop(65%, #f6f6f6), color-stop(100%, #e1e1e1));
  background: -webkit-linear-gradient(top, white 0%, white 31%, #f6f6f6 65%, #e1e1e1 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(31%, white), color-stop(65%, #f6f6f6), to(#e1e1e1));
  background: linear-gradient(to bottom, white 0%, white 31%, #f6f6f6 65%, #e1e1e1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1e1e1', GradientType=0 ); }
  .help--online p {
    position: relative;
    top: -5px;
    font: 13px/14px "ArialBold"; }

.help--online-img {
  background-image: url("../images/sprites/icons-sprite.png");
  background-repeat: no-repeat;
  background-position: -92px -56px;
  width: 89px;
  height: 62px; }

.help--online:hover {
  background: #ececec; }

/* User and profile */
.user-basket--wrap {
  float: right;
  width: 209px;
  max-width: 209px; }

.user, .busket--wrap {
  float: right; }

/* User */
.user {
  margin-bottom: 14px; }

.user:before {
  content: '';
  width: 19px;
  height: 18px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: -23px;
  background-image: url("../images/sprites/icons-sprite.png");
  background-repeat: no-repeat;
  background-position: -218px -66px; }

/* Basket */
.busket--wrap {
  display: inline-block;
  text-align: center;
  color: #105a8f;
  width: 100%;
  border: 1px solid #cecdcd;
  height: 56px;
  -webkit-border-radius: 6px;
          border-radius: 6px; }
  .busket--wrap .busket--img-wrap {
    position: relative; }
  .busket--wrap .busket--number-orders {
    background: #ececec;
    border: 1px solid #cfcece;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    display: block;
    position: absolute;
    max-height: 19px;
    min-width: 19px;
    z-index: 10;
    top: -1px;
    left: 14px; }
    .busket--wrap .busket--number-orders p {
      color: #d10000;
      font: 18px/18px "ArialBlack"; }
  .busket--wrap span,
  .busket--wrap .busket--img-wrap {
    display: inline-block;
    vertical-align: middle;
    line-height: 55px; }

.big-busket {
  background-image: url("../images/sprites/icons-sprite.png");
  background-repeat: no-repeat;
  background-position: -48px -20px;
  width: 38px;
  height: 38px; }

.busket--dropdown {
  margin-left: 6px;
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
  vertical-align: -moz-middle-with-baseline; }

.busket--text {
  font: 900 italic 23px "ArialBlack";
  text-decoration: underline; }

.slider--wrap {
  margin-top: 32px; }

.slider--main-wrap {
  float: left;
  overflow: hidden;
  width: 777px;
  height: 261px; }

.slider--main {
  position: relative;
  height: 242px; }

.slider--main-item {
  padding: 15px 0 0 15px;
  float: left;
  width: 100%;
  height: 242px;
  background-image: url("../images/slider/slider_img.png");
  background-repeat: no-repeat;
  border: 7px solid #689cbe;
  -webkit-border-radius: 6px;
          border-radius: 6px; }
  .slider--main-item h3, .slider--main-item p {
    font-family: "CenturyGothicRegular";
    margin-bottom: 13px; }
  .slider--main-item h3 {
    color: #6640c7;
    max-width: 394px;
    font-size: 30px;
    line-height: 35px; }
  .slider--main-item p {
    font-size: 17px;
    line-height: 21px;
    max-width: 310px; }
  .slider--main-item button {
    font: 18px/23px "CenturyGothicBold";
    background: #5e0477;
    background-image: url("../images/slider/slider_btn_bg.png");
    background-repeat: no-repeat;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    width: 276px;
    height: 46px;
    color: #ffffff;
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s; }
  .slider--main-item button:hover {
    -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
            transform: scale(1.03); }

.slider--main-item:focus {
  outline: none; }

.slick-dots {
  position: absolute;
  bottom: -19px;
  left: 7px; }
  .slick-dots li {
    display: inline-block;
    margin: 0 2px; }
    .slick-dots li button {
      padding-top: 7px;
      width: 20px;
      height: 26px;
      font: 13px/18px "ArialBold";
      color: #fff;
      text-shadow: 0px 1px 1px #4e758e;
      border: 2px solid #689cbe;
      border-top: 0;
      background: #689cbe;
      -webkit-border-bottom-right-radius: 4px;
              border-bottom-right-radius: 4px;
      -webkit-border-bottom-left-radius: 4px;
              border-bottom-left-radius: 4px; }
  .slick-dots li.slick-active button {
    background: #fff;
    color: #d10000; }

/* Stock wrap */
.stock--wrap {
  float: left;
  width: 383px;
  padding-left: 28px; }
  .stock--wrap h2 {
    font: italic 25px/18px "ArialBlack";
    color: #d10000;
    margin-bottom: 17px; }

.stock--item {
  margin-bottom: 15px; }
  .stock--item img {
    float: left; }
  .stock--item a {
    text-decoration: underline;
    color: #105a8f; }
    .stock--item a:hover {
      color: #d10000 !important; }
    .stock--item a:visited {
      color: #6640c7; }
  .stock--item p {
    font-size: 13px;
    line-height: 20px;
    padding-left: 65px; }

.production-slider {
  margin: 25px 0 46px 0;
  position: relative; }

.all-superoffers {
  position: absolute;
  z-index: 1000;
  bottom: 288px;
  right: 91px; }

/* Main Slider nav */
.slider-navigation--item-wrap {
  position: relative; }

.slider-main--navigation {
  display: inline-block;
  position: relative;
  z-index: 2017; }

.slider-navigation--item {
  position: relative;
  z-index: 2000;
  float: none;
  display: inline-block;
  height: 51px;
  max-height: 51px;
  background: #ffffff;
  padding: 0 15px; }
  .slider-navigation--item button {
    -webkit-transition: .2s;
    transition: .2s;
    width: 100%;
    height: 100%; }
    .slider-navigation--item button span {
      color: #105a8f;
      font: italic 18px/24px "ArialBlack";
      border-bottom: 1px dashed #105a8f; }

.slider-navigation--item:hover button span {
  border-style: solid; }

.slider-navigation--item.active {
  top: 3px;
  border: 1px solid #689cbe;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border-bottom: 0;
  -webkit-border-bottom-right-radius: 0;
          border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
          border-bottom-left-radius: 0;
  background: white;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, white), color-stop(17%, #f7f7f7), color-stop(64%, #eaeaea), color-stop(100%, white));
  background: -webkit-linear-gradient(top, white 0%, #f7f7f7 17%, #eaeaea 64%, white 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(17%, #f7f7f7), color-stop(64%, #eaeaea), to(white));
  background: linear-gradient(to bottom, white 0%, #f7f7f7 17%, #eaeaea 64%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 ); }
  .slider-navigation--item.active button span {
    color: #d10000;
    font-size: 20px;
    border: 0; }

.slider-main--nav-item--hidden {
  display: none;
  color: #d10000;
  font: italic 20px/24px "ArialBlack"; }

/* Main slider */
.slider-main {
  overflow: hidden;
  height: 322px;
  position: relative;
  border: 1px solid #689cbe;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-border-top-left-radius: 0;
          border-top-left-radius: 0;
  padding: 40px 40px 0;
  text-align: center; }

.slider-main--wrapper {
  overflow: hidden; }
  .slider-main--wrapper .slick-arrow {
    position: absolute;
    z-index: 100;
    top: 94px; }

.main-slider--arr {
  background-image: url("../images/sprites/icons-sprite.png");
  background-repeat: no-repeat;
  width: 21px;
  height: 55px; }

.main-slider--prev {
  left: 6px;
  background-position: -187px -116px; }

.main-slider--prev:hover {
  background-position: -8px -53px; }

.main-slider--next {
  right: 6px;
  background-position: -186px -177px; }

.main-slider--next:hover {
  background-position: -189px -53px; }

.slider-main--item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  width: 218px;
  max-width: 218px;
  max-height: 254px;
  padding: 0 22px;
  text-align: left; }

.slider-main--item:focus {
  outline: none; }

.slider-item--img {
  height: 132px;
  max-height: 132px;
  padding-top: 10px; }
  .slider-item--img img {
    display: inline-block;
    vertical-align: bottom;
    max-width: 100%;
    max-height: 100%; }

.slider-item--present-marker {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  background-image: url("../images/sprites/icons-sprite.png");
  background-repeat: no-repeat;
  background-position: -239px -20px;
  width: 68px;
  height: 40px; }

.slider-item--bonus,
.slider-item--name {
  font-size: 13px;
  line-height: 18px; }

.slider-item--bonus {
  color: #d10000; }

.slider-item--name {
  color: #105a8f;
  display: block;
  text-decoration: underline; }

.slider-item--old-price {
  position: relative;
  display: inline-block;
  font: 15px/18px "ArialBold";
  color: #999999; }

.slider-item--old-price:after {
  content: "";
  position: absolute;
  top: 9px;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background: #d10000; }

.slider-item--price {
  margin-top: 3px;
  position: relative;
  left: -10px; }

.slider-item--price-text {
  display: inline-block;
  vertical-align: middle; }
  .slider-item--price-text span {
    display: inherit;
    vertical-align: bottom;
    border: 0 !important;
    color: #333333 !important; }
    .slider-item--price-text span:first-child {
      font: italic 18px/24px "ArialBlack" !important; }
    .slider-item--price-text span:last-child {
      font: italic 13px/20px "ArialBlack" !important; }

.busket-small {
  display: inline-block;
  vertical-align: middle;
  background-image: url("../images/sprites/icons-sprite.png");
  background-repeat: no-repeat;
  background-position: -25px -20px;
  width: 17px;
  height: 18px;
  margin-left: 6px; }

.slider-item--savings {
  font-size: 11px;
  color: #5c9559; }

.companies-list--logos-wrap {
  margin-top: 40px; }

.companies-list--title {
  font: italic 15px/24px "ArialBold"; }

.all-manufacturers--link {
  margin-right: 93px; }

/* Companies logo img list */
.companies-list--logos-wrap {
  margin-top: 12px; }

.companies-list--block {
  float: left;
  width: 25%; }

.companies-list--block-logo {
  height: 60px;
  max-height: 60px;
  width: 50%;
  float: inherit;
  display: table; }

.companies-logo-wrap {
  display: table-cell;
  vertical-align: middle; }
  .companies-logo-wrap div {
    margin: 0 auto;
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: url("../images/sprites/companies-sprite.png"); }

/* logo sprite images */
.atst-logo {
  background-position: -127px -26px;
  width: 73px;
  height: 38px; }

.toshiba-logo {
  background-position: -342px -64px;
  width: 93px;
  height: 18px; }

.ibm-logo {
  background-position: -126px -70px;
  width: 67px;
  height: 27px; }

.dell-logo {
  background-position: -63px -70px;
  width: 57px;
  height: 23px; }

.apple-logo {
  background-position: -86px -3px;
  width: 35px;
  height: 43px; }

.microsoft-logo {
  background-position: -121px -145px;
  width: 93px;
  height: 16px; }

.intel-logo {
  background-position: -199px -70px;
  width: 52px;
  height: 36px; }

.amd-logo {
  background-position: -3px -3px;
  width: 77px;
  height: 26px; }

.cisco-logo {
  background-position: -3px -70px;
  width: 54px;
  height: 28px; }

.panasonic-logo {
  background-position: -107px -1px;
  background-size: 235px 93px;
  width: 127px;
  height: 28px; }

.lenovo-logo {
  background-position: -121px -112px;
  width: 103px;
  height: 27px; }

.asus-logo {
  background-position: -127px -3px;
  width: 80px;
  height: 17px; }

.nokia-logo {
  background-position: -63px -167px;
  width: 73px;
  height: 16px; }

.samsung-logo {
  background-position: -257px -64px;
  width: 79px;
  height: 27px; }

.nec-logo {
  background-position: -3px -167px;
  width: 54px;
  height: 15px; }

.kaspersky-logo {
  background-position: -3px -112px;
  width: 112px;
  height: 30px; }

/* logo-border's */
.block-logo--border {
  border-bottom: 1px solid #dddcdc; }

.block-logo--gradient-line {
  position: relative; }

.block-logo--gradient-line:after {
  display: inline-block;
  top: 0;
  right: 0;
  width: 1px;
  height: 120px; }

/* Companies text list */
.companies-list--text-wrap {
  margin: 30px 0 0; }
  .companies-list--text-wrap div {
    float: left;
    width: 25%; }

.companies-list--text-list {
  float: left;
  width: 50%;
  list-style-type: none; }
  .companies-list--text-list li {
    line-height: 20px; }
    .companies-list--text-list li a {
      color: #105a8f;
      font-size: 11px;
      text-decoration: underline; }
      .companies-list--text-list li a:hover {
        color: #d10000; }

.article-list--wrap {
  position: relative;
  padding-bottom: 85px; }
  .article-list--wrap:after {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    width: 84%;
    margin: 0 auto;
    -webkit-box-shadow: 0 0 90px 10px rgba(0, 0, 0, 0.4);
            box-shadow: 0 0 90px 10px rgba(0, 0, 0, 0.4); }

.article-list--title {
  font: 20px/24px "ArialBlack";
  font-style: italic; }

.all-articles--link {
  margin-right: 51px; }

.article--preview-productions {
  width: 25%;
  float: left;
  padding-right: 23px; }
  .article--preview-productions div {
    height: 125px;
    margin-bottom: 25px; }
    .article--preview-productions div img {
      display: inline-block;
      vertical-align: bottom;
      max-width: 100%;
      max-height: 100%; }
  .article--preview-productions div:before {
    content: '';
    display: inline-block;
    vertical-align: bottom;
    width: 0px;
    height: 100%;
    line-height: 0; }
  .article--preview-productions h3 {
    margin-bottom: 14px; }
    .article--preview-productions h3 a {
      color: #105a8f;
      font-size: 15px;
      line-height: 20px;
      text-decoration: underline; }
      .article--preview-productions h3 a:hover {
        color: #d10000 !important; }
      .article--preview-productions h3 a:visited {
        color: #6640c7; }
  .article--preview-productions p {
    font: 13px/20px; }

.footer {
  position: relative;
  z-index: 10;
  background: #ffffff;
  border-top: 2px solid #ffffff; }

.footer--blue-border {
  border-top: 4px solid #175b8e;
  margin-bottom: 20px; }

.foot--copyright {
  font-size: 15px;
  line-height: 18px; }

.foot-nav--main-menu {
  margin-bottom: 35px; }

.footer--info-item {
  display: inline-block;
  vertical-align: top;
  width: 24%; }

.footer--info-addres p {
  font-size: 13px;
  line-height: 22px; }

.footer--info-addres p + a {
  font: 24px/22px "ArialBold";
  display: inline-block;
  margin-bottom: 5px; }
  .footer--info-addres p + a span {
    font-family: "ArialRegular"; }

.footer--info-addres p + a:hover {
  text-decoration: underline; }

.footer--info-addres .btn--dotted-line {
  display: block;
  margin-bottom: 15px; }

.footer--info-addres .btn--grey-gradient span:first-child {
  border-style: dashed; }
  .footer--info-addres .btn--grey-gradient span:first-child a {
    font: 13px/17px "ArialRegular"; }

.footer--info-addres .btn--grey-gradient span:hover {
  border-style: solid; }

.terms-of-use {
  margin-top: 40px;
  display: inline-block;
  text-decoration: underline;
  font-size: 13px; }

.terms-of-use:hover {
  color: #d10000; }

.footer--work-hour p {
  font: 13px/22px "ArialRegular"; }
  .footer--work-hour p:first-child {
    font-family: "ArialBold"; }

.footer--work-hour span {
  display: block;
  margin: 20px 0 4px; }

.pay-services {
  background-image: url("../images/sprites/icons-sprite.png");
  background-repeat: no-repeat;
  background-position: -6px -242px;
  width: 220px;
  height: 26px; }

.footer--info-socials div {
  margin-bottom: 3px; }
  .footer--info-socials div a {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    line-height: 20px;
    color: #105a8f;
    text-decoration: underline; }
    .footer--info-socials div a:hover {
      color: #d10000; }

.foot-social {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  margin: 0 5px 0 0;
  background-image: url("../images/sprites/icons-sprite.png");
  background-repeat: no-repeat; }

.foot-social--fb {
  background-position: -117px -20px; }

.foot-social--vk {
  background-position: -243px -66px; }

.foot-social--tw {
  background-position: -37px -66px; }

.owox-info {
  position: relative;
  padding-left: 37px; }
  .owox-info p {
    font-size: 11px;
    line-height: 15px; }
    .owox-info p:last-child {
      margin-top: 4px;
      color: #999; }
    .owox-info p a {
      color: #105a8f;
      text-decoration: underline; }

.owox-logo {
  background-image: url("../images/sprites/icons-sprite.png");
  background-repeat: no-repeat;
  display: inline-block;
  background-position: -8px -212px;
  width: 118px;
  height: 23px;
  margin-bottom: 5px; }

.owox-info:after {
  display: inline-block;
  top: -25px;
  left: 0;
  width: 1px;
  height: 160px; }

.owox-info--wrap {
  display: inline-block;
  max-width: 325px; }

.mobile--nav-category {
  display: none;
  padding: 6px 7px; }

.nav--select-category {
  width: 65%;
  float: left; }
  .nav--select-category select {
    font: 16px/21px "ArialBold";
    width: 300px;
    display: inline-block; }

/* Responsive */
@media screen and (max-width: 1230px) {
  .main-wrapper,
  .container {
    width: 1000px; }
  .logo-wrap {
    margin-right: 15px; }
  .callback-search--wrap {
    margin-right: 95px; }
  .slider--main-wrap {
    width: 580px; }
  .stock--wrap {
    width: 380px; }
  .slider--main-item {
    background-size: auto; }
  hr.grey--line {
    width: 960px; }
  .menu-category--item {
    padding: 0 10px 0 10px; }
  .panasonic-logo {
    width: 103px;
    background-position: -96px -1px;
    background-size: 204px 86px; } }

@media screen and (max-width: 1030px) {
  .container {
    padding-left: 13px;
    padding-right: 13px; }
  .nav--menu-burger {
    display: inline-block; }
  .main-wrapper {
    width: 600px; }
  .logo-wrap {
    margin-right: 35px; }
  .logo-img {
    width: 123px;
    height: 55px;
    background-size: 180% 320%;
    background-position: -3px -75px !important; }
  .help--online,
  .responsive--grey-line:after {
    display: none; }
  .callback-search--wrap {
    max-width: 260px;
    margin-right: 0; }
  .callback--wrap {
    left: 10px;
    margin-bottom: 5px; }
  .callback--number,
  .callback-search--wrap {
    line-height: 22px;
    vertical-align: top; }
  .callback--number span:first-child,
  .callback--number span:last-child {
    font: 18px/22px "ArialRegular"; }
  .search--wrap {
    max-width: 240px; }
  .user {
    margin: 0 0 7px 37px; }
  .user,
  .stock--wrap,
  .article--preview-productions div {
    float: left; }
  .busket--wrap {
    height: 30px; }
    .busket--wrap .big-busket {
      background-position: -25px -20px;
      width: 17px;
      height: 18px; }
    .busket--wrap .arr--dropdown {
      background-position: -3px -3px;
      width: 7px;
      height: 8px;
      vertical-align: middle; }
  .user-basket--wrap {
    width: auto;
    max-width: 117px; }
  .busket--wrap .busket--number-orders {
    width: 11px;
    min-width: 11px;
    height: 11px;
    top: -2px;
    left: 5px; }
    .busket--wrap .busket--number-orders p {
      font: 10px/8px "ArialBlack"; }
  .busket--wrap .busket--img-wrap, .busket--wrap span {
    line-height: 28px; }
  .busket--text {
    font-size: 12px;
    line-height: 15px; }
  header {
    background: #ffffff;
    margin-bottom: 10px; }
    header .nav--main-menu {
      display: none; }
  .nav--category ul {
    display: none; }
  .nav--category {
    height: 36px; }
  .slider--wrap {
    margin-top: 11px; }
  .slider--main-wrap {
    width: 574px; }
  .slider-main {
    padding: 40px 75px 0; }
  .stock--wrap {
    padding: 25px 0 0 0; }
  .container,
  .stock--wrap,
  .companies-list--text-list,
  hr.grey--line,
  .article--preview-productions {
    width: 100%; }
  .article--preview-productions {
    margin-bottom: 15px;
    padding-right: 0; }
  .companies-list--block,
  .companies-list--title {
    width: 50%; }
  .companies-list--title {
    line-height: 16px; }
  .companies-list--text-list li a {
    font-size: 14px;
    line-height: 24px; }
  .all-manufacturers--link,
  .all-articles--link {
    margin-right: 0; }
  .article--preview-productions div {
    margin-right: 25px; }
    .article--preview-productions div:before,
    .article--preview-productions div img {
      vertical-align: top; }
  .footer--info-item {
    width: 100%; }
  .footer--info-addres,
  .footer--work-hour,
  .footer--info-socials {
    margin-bottom: 30px; }
  .footer--info-addres > div,
  .footer--work-hour > div {
    width: 50%;
    float: left; }
  .terms-of-use {
    margin-top: 20px; }
  .footer--work-hour span {
    margin-top: 0; }
  .footer--info-socials > div {
    margin: 0 35px 0 0;
    display: inline-block;
    vertical-align: middle; }
  .footer--info-addres .btn--dotted-line {
    margin-bottom: 0; }
  .owox-info {
    margin: 0;
    text-align: center;
    padding-top: 33px;
    border-top: 1px solid #e6e6e6; }
  .foot-nav--main-menu {
    margin-bottom: 22px; }
  .owox-info:after {
    display: none; }
  .owox-info--wrap {
    text-align: left; }
  .owox-logo {
    margin: 0 10px 0 0;
    padding-left: 0; }
  .owox-logo,
  .owox-logo + div {
    float: left; }
  .mobile--nav-category {
    display: block; }
  .article-list--wrap:after {
    width: 70%; }
  .slider-main--navigation {
    top: 7px;
    border: 1px solid #689cbe;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    border-bottom: 0;
    -webkit-border-bottom-right-radius: 0;
            border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
            border-bottom-left-radius: 0;
    padding: 13px 15px 0;
    height: 51px;
    max-height: 51px;
    width: 300px;
    background: #fff;
    background: -webkit-gradient(left top, left bottom, color-stop(0, #fff), color-stop(17%, #f7f7f7), color-stop(64%, #eaeaea), color-stop(100%, #fff));
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(17%, #f7f7f7), color-stop(64%, #eaeaea), color-stop(64%, #fff));
    background: -webkit-linear-gradient(top, #fff 0, #f7f7f7 17%, #eaeaea 64%, #fff);
    background: linear-gradient(180deg, #fff 0, #f7f7f7 17%, #eaeaea 64%, #fff);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=0); }
    .slider-main--navigation .nav--menu-burger--grey {
      float: right; }
  .slider-navigation--item-wrap {
    overflow: hidden;
    position: absolute;
    z-index: 2000;
    top: 11px;
    left: 0;
    right: 0;
    padding: 0 15px;
    max-width: 245px;
    height: 24px; }
  .slider-navigation--item-wrap.open {
    height: auto; }
  .slider-main--nav-item--hidden {
    display: inline-block; }
  .slider-navigation--item,
  .slider-navigation--item.active {
    background: #f4f4f4;
    border: 0; }
    .slider-navigation--item button span,
    .slider-navigation--item.active button span {
      padding-left: 10px;
      color: #105a8f;
      font: italic 15px/18px ArialBlack;
      border: 0; }
  .slider-navigation--item {
    display: block;
    height: auto;
    padding: 8px 0; }
    .slider-navigation--item button {
      text-align: left; } }

@media screen and (max-width: 630px) {
  .main-wrapper,
  .container,
  .slider--main-wrap,
  .companies-list--title {
    width: 100%; }
  .companies-list--title {
    margin-bottom: 8px; }
  .logo-wrap {
    float: left;
    margin-right: 15px; }
  .callback--wrap {
    display: none; }
  .callback-search--wrap {
    width: 42%; }
  .slider-main {
    padding: 40px 60px 0; }
  .slider--main-item h3 {
    font-size: 25px;
    line-height: 26px; }
  .slider--main-item p {
    font-size: 15px;
    line-height: 18px; }
  .slider-item--img {
    height: 100px;
    max-height: 100px; }
  .all-superoffers {
    right: 20px; } }

@media screen and (max-width: 550px) {
  .slider-item--price .busket-small {
    display: none; }
  .slider-item--price {
    left: 0; }
  .slider-main--item {
    padding: 0 5px; } }

@media screen and (max-width: 500px) {
  .callback-search--wrap {
    width: 35%; }
  .companies-list--block {
    width: 100%; }
  .mobile--grey-line:after {
    display: none; }
  .block-logo--gradient-line:after {
    height: 132px; }
  .article-list--title {
    width: 100%;
    float: none;
    margin-bottom: 10px; }
  .companies-list--text-wrap div {
    width: 50%; }
  .foot--copyright {
    text-align: center;
    margin-bottom: 5px; }
  .foot-nav--main-menu {
    max-height: none; }
    .foot-nav--main-menu a {
      text-align: center;
      display: block;
      margin: 0 0 5px 0; }
    .foot-nav--main-menu .ask--help:before {
      display: none; }
  .footer--info-addres > div,
  .footer--work-hour > div {
    width: 230px;
    margin: 0 auto 10px;
    float: none;
    text-align: center; }
  .footer--info-socials > div {
    margin: 0 auto;
    width: 205px;
    display: block; }
  .footer--info-addres .btn--dotted-line {
    margin: 0 auto 5px; }
  .footer--info-addres, .footer--info-socials, .footer--work-hour {
    margin-bottom: 20px; } }

@media screen and (max-width: 460px) {
  .callback-search--wrap {
    display: none; }
  .slider-main {
    padding: 40px 100px 0; }
  .slider-main--item {
    padding: 0 15px; }
  .slider-item--price {
    left: -10px; } }
