.main-section {
  padding: 0 15px 0 350px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-shadow {
  position: relative;
  padding: 10px 0;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
}

/* Responsive for main Classes */
@media screen and ( max-width: 1024px ) {
  .main-section {
    padding: 0 15px;
  }
}