/* Colors */

$blue: #105a8f;
$black: #333333;
$grey: #999999;
$grey--light: #ececec;
$green: #6cbe68;
$green--text: #5c9559;
$input--border: #c4c4c4;
$btn--border: #c4c4c4;
$purple: #6640c7;
$purple--dark: #5e0477;
$red: #d10000;
$nav-category--border: #246188;
$outline--shadow: rgba(235,235,235,1);
$foot--border-2: #175b8e;

/* Fonts */

$ArialRegular: "ArialRegular";
$ArialItalic: "ArialItalic";
$ArialBold: "ArialBold";
$ArialBlack: "ArialBlack";

$CenturyGothicRegular: "CenturyGothicRegular";
$CenturyGothicBold: "CenturyGothicBold";