.companies-list--logos-wrap {
	margin-top: 40px;
}

.companies-list--title {
	font: italic 15px/24px $ArialBold;
}

.all-manufacturers--link {
	margin-right: 93px;
}

/* Companies logo img list */

.companies-list--logos-wrap {
	margin-top: 12px;
}

.companies-list--block {
	float: left;
	width: 25%;
}

.companies-list--block-logo {
	height: 60px;
	max-height: 60px;
	width: 50%;
	float: inherit;
	display: table;
}

.companies-logo-wrap {
	display: table-cell;
	vertical-align: middle;

	div {
		margin: 0 auto;
		overflow: hidden;
		background-repeat: no-repeat;
		background-image: url('../images/sprites/companies-sprite.png');
	}
}

/* logo sprite images */

.atst-logo {
	background-position: -127px -26px;
	width: 73px;
	height: 38px;
}

.toshiba-logo {
	background-position: -342px -64px;
	width: 93px;
	height: 18px;
}

.ibm-logo {
	background-position: -126px -70px;
	width: 67px;
	height: 27px;
}

.dell-logo {
	background-position: -63px -70px;
	width: 57px;
	height: 23px;
}

.apple-logo {
	background-position: -86px -3px;
	width: 35px;
	height: 43px;
}

.microsoft-logo {
	background-position: -121px -145px;
	width: 93px;
	height: 16px;
}

.intel-logo {
	background-position: -199px -70px;
	width: 52px;
	height: 36px;
}

.amd-logo {
	background-position: -3px -3px;
	width: 77px;
	height: 26px;
}

.cisco-logo {
	background-position: -3px -70px;
	width: 54px;
	height: 28px;
}

.panasonic-logo {
	background-position: -107px -1px;
	background-size: 235px 93px;
	width: 127px;
	height: 28px;
}

.lenovo-logo {
	background-position: -121px -112px;
	width: 103px;
	height: 27px;
}

.asus-logo {
	background-position: -127px -3px;
	width: 80px;
	height: 17px;
}

.nokia-logo {
	background-position: -63px -167px;
	width: 73px;
	height: 16px;
}

.samsung-logo {
	background-position: -257px -64px;
	width: 79px;
	height: 27px;
}

.nec-logo {
	background-position: -3px -167px;
	width: 54px;
	height: 15px;
}

.kaspersky-logo {
	background-position: -3px -112px;
	width: 112px;
	height: 30px;
}

/* logo-border's */

.block-logo--border {
	border-bottom: 1px solid #dddcdc;
}

.block-logo--gradient-line {
	position: relative;
}

.block-logo--gradient-line:after {
  display: inline-block;
	top: 0;
	right: 0;
	width: 1px;
	height: 120px;
}

/* Companies text list */

.companies-list--text-wrap {
	margin: 30px 0 0;

	div {
		float: left;
		width: 25%;
	}
}

.companies-list--text-list {
	float: left;
	width: 50%;
	list-style-type: none;

	li {
		line-height: 20px;

		a {
			color: $blue;
			font-size: 11px;
			text-decoration: underline;
			
			&:hover {
				color: $red;
			}
		}

	}
}