<!DOCTYPE html>
<html lang="ru_RU">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<title>WebMonsters</title>
</head>
<body>
	<a href="#header" id="anchor-bg">^</a>
	<header id="header">
		<div class="bg-black">
			<div class="head-wrap">
				<a href="http://webmonsters.dp.ua/">
					<img class="logo" src="images/logo.png" alt="logo">
				</a>
				<div class="contacts">
					<div>
						<a href="tel:+380684072660">
							<img src="images/phone.png" alt="phone">
						</a>
						<a href="tel:+380684072660">+38 (068) 407 26 60</a>
					</div>
					<div>
						<a href="tel:+380938004430">
							<img src="images/phone.png" alt="phone">
						</a>
						<a href="tel:+380938004430">+38 (093) 800 44 30</a>
					</div>
					<div>
						<a href="tel:+380968222282">
							<img src="images/phone.png" alt="phone">
						</a>
						<a href="tel:+380968222282">+38 (096) 822 22 82</a>
					</div>
					<div>
						<a href="mailto:info@webmonsters.dp.ua">
							<img src="images/email.png" alt="email">
						</a>
						<a href="mailto:info@webmonsters.dp.ua">info@webmonsters.dp.ua</a>
					</div>
				</div>
				<div class="menu-wrap">
					<span class="menu">
						<span><a href="http://webmonsters.dp.ua/">Главная</a></span>
						<span><a href="work.html">Работы</a></span>
						<span><a href="services.html">Услуги</a></span>
						<span><a href="blog.html">Блог</a></span>
						<span><a href="vacancy.html">Вакансии</a></span>
						<span><a href="contacts.html">Контакты</a></span>
					</span>
				</div>
			</div>
		</div>
	</header>
	<main id="contacts-main">
		<section class="contacts-icons">
			<h1>Получите бесплатную консультацию</h1>
			<div class="con-icons-wrap">
				<div class="left-icon">
					<p><a href="mailto:info@webmonsters.dp.ua">info@webmonsters.dp.ua</a></p>
					<img src="images/contact_mail.png" alt="contacts">				
				</div>
				<div class="right-icon">
					<span>
						<p><a href="tel:+380938226786">+38 (093) 82 26 786</a></p>
						<p><a href="tel:+380938004430">+38 (093) 80 04 430</a></p>
					</span>
					<img src="images/contact_phone.png" alt="contacts">
				</div>
			</div>
		</section>
		<p class="if">или...</p>
		<h2>Оставте Ваши контакты и мы с Вами свяжемся</h2>
		<section class="contacts-us">
			<div class="con-mess-wrap">
				<div class="message-wrap">
					<div class="con-message">
						<input id="name-inp" type="text" placeholder="Ваше Имя">
						<input type="text" id="mailpost" placeholder="Ваша почта">
						<p><b>* </b> это поле обязательно для заполнения</p>
						<input id="phone-con" type="text" placeholder="Ваш номер телефона">
						<textarea placeholder="Ваше сообщение" name="" id="mess-text" cols="30" rows="10"></textarea>
					</div>
					<div id="map-con"></div>
				</div>
				<p id="name-con"></p>
				<p id="con-message"></p>
				<button id="but_con">Отправить сообщение</button>
			</div>
		</section>
	</main>
	<footer id="footer">
		<div class="foot-wrap">
		<div class="menu-wrap">
			<span class="menu menu-foot">
				<span><a href="http://webmonsters.dp.ua/">Главная</a></span>
				<span><a href="work.html">Работы</a></span>
				<span><a href="services.html">Услуги</a></span>
				<span><a href="blog.html">Блог</a></span>
				<span><a href="vacancy.html">Вакансии</a></span>
				<span><a href="contacts.html">Контакты</a></span>
			</span>
		</div>
		<div class="foot-contact">
			<span class="call-us">
				<a href="tel:+380684072660">
					<img src="images/phone_white.png" alt="phone">
				</a>
				<a href="tel:+380684072660">+38 (068) 407 26 60</a>
			</span>
			<span class="call-us-1">
				<a href="tel:+380938004430">
					<img src="images/phone_white.png" alt="phone">
				</a>
				<a href="tel:+380938004430">+38 (093) 800 44 30</a>
			</span>
			<span class="call-us-1">
				<a href="tel:+380968222282">
					<img src="images/phone_white.png" alt="phone">
				</a>
				<a href="tel:+380968222282">+38 (096) 822 22 82</a>
			</span>
			<span class="foot-soc">
				<a href="#"><span class="social_wrap"><i class="fa fa-facebook" aria-hidden="true"></i></span></a>
				<a href="#"><span class="social_wrap"><i class="fa fa-linkedin" aria-hidden="true"></i></span></a>
				<a href="#"><i class="fa fa-instagram insta" aria-hidden="true"></i></a>
				<a href="https://vk.com/web_monsters" target="_blank"><span class="social_wrap"><i class="fa fa-vk" aria-hidden="true"></i></span></a>
			</span>
			<span class="write-us">
				<a href="mailto:info@webmonsters.dp.ua">
					<img src="images/email_white.png" alt="email">
				</a>
				<a href="mailto:info@webmonsters.dp.ua">info@webmonsters.dp.ua</a>
			</span>
		</div>
		<div>
			<p class="licence">© 2014-2016</p>
		</div>
	</footer>
	<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript" async></script>
	<script src="js/jquery-3.1.1.min.js"></script>
	<script src="js/contact.js"></script>
</body>
</html>