<!DOCTYPE html>
<html lang="ru_RU">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<title>WebMonsters</title>
</head>
<body>
	<a href="#header" id="anchor-bg">^</a>
	<header id="header">
		<div class="bg-black">
			<div class="head-wrap">
				<a href="http://webmonsters.dp.ua/">
					<img class="logo" src="images/logo.png" alt="logo">
				</a>
				<div class="contacts">
					<div>
						<a href="tel:+380684072660">
							<img src="images/phone.png" alt="phone">
						</a>
						<a href="tel:+380684072660">+38 (068) 407 26 60</a>
					</div>
					<div>
						<a href="tel:+380938004430">
							<img src="images/phone.png" alt="phone">
						</a>
						<a href="tel:+380938004430">+38 (093) 800 44 30</a>
					</div>
					<div>
						<a href="tel:+380968222282">
							<img src="images/phone.png" alt="phone">
						</a>
						<a href="tel:+380968222282">+38 (096) 822 22 82</a>
					</div>
					<div>
						<a href="mailto:info@webmonsters.dp.ua">
							<img src="images/email.png" alt="email">
						</a>
						<a href="mailto:info@webmonsters.dp.ua">info@webmonsters.dp.ua</a>
					</div>
				</div>
				<div class="menu-wrap">
					<span class="menu">
						<span><a href="http://webmonsters.dp.ua/">Главная</a></span>
						<span><a href="work.html">Работы</a></span>
						<span><a href="services.html">Услуги</a></span>
						<span><a href="blog.html">Блог</a></span>
						<span><a href="vacancy.html">Вакансии</a></span>
						<span><a href="contacts.html">Контакты</a></span>
					</span>
				</div>
			</div>
		</div>
	</header>
	<main id="vacancy">
		<div class="vacancy-wrap">
			<h1>Мы ищем целеустремленных и ответственных людей в дружную команду:</h1>
			<div class="vac vacancy-1">
				<img src="images/position_1.png" alt="position">
				<h2>Front-end Developer</h2>
				<p>Опыт работы от 1-го года</p>
				<br>
				<h3>Требования:</h3>
				<br>
				<ul>
					<li>HTML5/CSS3</li>
					<li>Быть в тренде верстке (параллаксы, иконочные шрифты, svg и прочее)</li>
					<li>Знание Wordpress (натяжка/доработка)</li>
					<li>Знание JS, JQuery</li>
				</ul>
				<br>
				<h3>Приветствуется:</h3>
				<br>
				<ul>
					<li>Знание PHP</li>
					<li>Умение дорабатывать/создавать плагины для Wordpress</li>
					<li>Опыт работы с Git или SVN</li>
					<li>Опыт работы с Gulp/Grunt</li>
					<li>Знание Photoshop и Illustrator на уровне достаточном для повседневных задач верстки;</li>
				</ul>
				<br>
				<p>Уровень оплаты зависит от профессиональных особенностей и определяется по результатам собеседования и качества портфолио!</p>
			</div>
			<div class="vac vacancy-2">
				<img src="images/position_2.png" alt="position">
				<h2>Web designer</h2>
				<p>Опыт работы от 1-го года</p>
				<br>
				<h3>Требования:</h3>
				<br>
				<ul>
					<li>умение работать в Adobe Photoshop, Adobe Illustrator, CorelDraw</li>
					<li>ответственность, инициативность, ориентация на результат</li>
					<li>наличие опыта в дизайне сайтов</li>
					<li>Понимание технических моментов взаимодействия дизайна и верстки проекта</li>
					<li>наличие портфолио (обязательно)</li>
					<li>создание отдельных элементов страниц</li>
				</ul>
				<br>
				<h3>Приветствуется:</h3>
				<br>
				<ul>
					<li>знание основ HTML, CSS</li>
					<li>Умение работать в других программах для разработки дизайна</li>
					<li>Быть в курсе трендов современного сайтостроения</li>
				</ul>
				<br>
				<p>Уровень оплаты зависит от профессиональных особенностей и определяется по результатам собеседования и качества портфолио!</p>
			</div>
			<div class="vac vacancy-3">
				<img src="images/position_3.png" alt="position">
				<h2>Back end Developer</h2>
				<p>Опыт работы от 1-го года</p>
				<br>
				<h3>Что мы ждем от специалиста:</h3>
				<br>
				<ul>
					<li>Знания принципов ООП и понимание каждого из них.</li>
					<li>Знание и умение применять паттерны проектирования ПО.</li>
					<li>Языки программирования: PHP, JS, SQL.</li>
					<li>Опыт создания REST API.</li>
					<li>Знание минимум одного из PHP-фреймворков. Например, Laravel, Phalcon или Symphony 3.</li>
				</ul>
				<br>
				<h3>Плюсом будет:</h3>
				<br>
				<ul>
					<li>Redis</li>
					<li>Memcached</li>
					<li>Gearman или другие системы построения очередей</li>
					<li>Apache</li>
					<li>Опыт применения дополнительных языков разработки Python, Java, C#</li>
					<li>Опыт работы с AWS или Heroku</li>
				</ul>
				<br>
				<p>Уровень оплаты зависит от профессиональных особенностей и определяется по результатам собеседования и качества портфолио!</p>
			</div>
		</div>
	</main>
	<footer id="footer">
		<div class="foot-wrap">
		<div class="menu-wrap">
			<span class="menu menu-foot">
				<span><a href="http://webmonsters.dp.ua/">Главная</a></span>
				<span><a href="work.html">Работы</a></span>
				<span><a href="services.html">Услуги</a></span>
				<span><a href="blog.html">Блог</a></span>
				<span><a href="vacancy.html">Вакансии</a></span>
				<span><a href="contacts.html">Контакты</a></span>
			</span>
		</div>
		<div class="foot-contact">
			<span class="call-us">
				<a href="tel:+380684072660">
					<img src="images/phone_white.png" alt="phone">
				</a>
				<a href="tel:+380684072660">+38 (068) 407 26 60</a>
			</span>
			<span class="call-us-1">
				<a href="tel:+380938004430">
					<img src="images/phone_white.png" alt="phone">
				</a>
				<a href="tel:+380938004430">+38 (093) 800 44 30</a>
			</span>
			<span class="call-us-1">
				<a href="tel:+380968222282">
					<img src="images/phone_white.png" alt="phone">
				</a>
				<a href="tel:+380968222282">+38 (096) 822 22 82</a>
			</span>
			<span class="foot-soc">
				<a href="#"><span class="social_wrap"><i class="fa fa-facebook" aria-hidden="true"></i></span></a>
				<a href="#"><span class="social_wrap"><i class="fa fa-linkedin" aria-hidden="true"></i></span></a>
				<a href="#"><i class="fa fa-instagram insta" aria-hidden="true"></i></a>
				<a href="https://vk.com/web_monsters" target="_blank"><span class="social_wrap"><i class="fa fa-vk" aria-hidden="true"></i></span></a>
			</span>
			<span class="write-us">
				<a href="mailto:info@webmonsters.dp.ua">
					<img src="images/email_white.png" alt="email">
				</a>
				<a href="mailto:info@webmonsters.dp.ua">info@webmonsters.dp.ua</a>
			</span>
		</div>
		<div>
			<p class="licence">© 2014-2016</p>
		</div>
	</footer>
	<script src="js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="js/vacancy.js"></script>
</body>
</html>